<div>
		<div class="contact-details">
			<div class="container">
				<div class="contact-detailsinner">			
					<div class="row">
						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
								<div class="contact-title">
									Contact Details	
								</div>	
							<form id="contact-details" role="form">
								<div class="form-group float-label-control label-bottom">
									<label for="">First Name:</label>
									<input type="text" class="form-control" value="{{userInfo.name}}" ng-model="userInfo.name" placeholder="First Name" >
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">Last Name</label>
									<input type="text" class="form-control" value="{{userInfo.lastName}}" ng-model="userInfo.lastName" placeholder="Last Name">
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">Mobile Number</label>
									<input type="text" class="form-control" value="{{userInfo.phone}}" title="Phone number starting with 7-9 and remaining 9 digit with 0-9" pattern="[7-9]{1}[0-9]{9}" pattern="/^[0-9]{1,10}$/" maxlength="10" ng-model="userInfo.phone" placeholder="Mobile Number">
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">Email</label>
									<input type="email" class="form-control" value="{{userInfo.email}}" ng-model="userInfo.email" placeholder="Email">
								</div>
							</form>
						</div>
						<div class="col-lg-offset-2 col-lg-5 col-md-offset-2 col-md-5 col-sm-12 col-xs-12">
								<div class="contact-title">
									Delivery Address	
								</div>	
							<form id="contact-details" role="form" ng-submit="updateAddress()">
								<div class="form-group float-label-control label-bottom">
									<label for="">Address</label>
									<input type="text" class="form-control" ng-model="userInfo.address" placeholder="Address">
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">Land Mark</label>
									<input type="text" class="form-control" ng-model="userInfo.landMark" placeholder="Land Mark">
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">City</label>
									<input type="text" class="form-control" ng-model="userInfo.city" placeholder="City">
								</div>
								<div class="form-group float-label-control label-bottom">
									<label for="">Pincode</label>
									<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="userInfo.pinCode" placeholder="Pincode">
								</div>
								<button type="submit" class="btn btn-danger pull-right text-capitalize m-btm20 m-right20">Place Order</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---- contact details ---->