
 <div>
		<div class="cart-allitem m-top60">
			<div class="container">
				<div class="row">
					<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
						<div ng-show="errorMessage" class="alert alert-warning"><a class="close" data-dismiss="alert" aria-label="close">&times;</a>{{message}}</div>
					</div>
					<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="!cartItemsAvailable">
						<!--<h2><br>There Are No Cart Items Added</h2>-->
						<img src="/images/no_cartItems.png">
						<div class="row">
							<div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
								<a href="#/"><button class="btn btn-default center-block btn-block btn-theme color-fff f-size18"><i class="p-right10 fa fa-plus-circle color-fff"></i>Add Items</button></a>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  ng-show="cartItemsAvailable">
						<div id="cart-itemdisplay" class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th class="text-left color-fff text-capitalize">product</th>
										<th class="text-left color-fff text-capitalize">price</th>
										<th class="text-left color-fff text-capitalize">quantity</th>
										<th class="text-left color-fff text-capitalize">total</th>
										<th class="text-left color-fff text-capitalize width100">Remove</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cartItem in cartList|unique:'id' track by $index">
										<td class="text-left item-listimage">
											<div class="d-table">
												<div class="d-tbcell v-middle width85 p-right10"><img src="{{cartItem.cartItem.imageUrl}}" class="img-responsive" /></div>
												<div class="d-tbcell v-middle text-left text-capitalize f-bold color-theme">{{cartItem.cartItem.name}}</div>
											</div>	
										</td>
										<td class="text-left"><i class="fa fa-rupee p-right10"></i>{{cartItem.cartItem.price}}</td>
										<td class="text-left">
											<div class="product-totqty">
												<form id='myform' method='POST' action='#'>
													<input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease',cartItem.id)" />
													<input type='text' readonly id="{{cartItem.id}}"  min="1" name='quantity' value='{{cartItem.quantity}}' class='qty'/>
													<input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase',cartItem.id)" />
												</form>
											</div>
										</td>
										<td class="text-left"><i class="fa fa-rupee p-right10"></i>{{cartItem.total}}</td>
										<td class="text-center">
											<button class="btn btn-danger remove-item m-right20" data-target="#removeCart" data-toggle="modal" ng-click="removeCartDetails($index,cartItem.cartItem.name)">
												<i class="fa fa-trash fa-2x"></i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-lg-8 col-md-10 col-sm-6 col-xs-12" ng-show="cartItemsAvailable">
						<div class="row">							
							<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
								<a href="#/"><button class="btn btn-default center-block btn-block btn-theme color-fff"><i class="p-right10 fa fa-plus-circle color-fff"></i>Add Items</button></a>
							</div>
						</div>
					</div>
					<div class="col-lg-offset-7 col-lg-5 col-md-offset-6 col-md-6 col-offset-sm-4 col-sm-8 col-xs-12" ng-show="cartItemsAvailable">
						<div class="cart-totalprice">
							<div class="cart-totaltitle text-capitalize f-bold f-size16">cart total</div>
							<div class="cart-delivery">
								<div class="d-table">
									<div class="d-tbcell text-left text-capitalize">Sub Total</div>
									<div class="d-tbcell text-right"><i class="fa fa-rupee p-right10"></i>{{cartTotalAmount | number:2}}</div>
								</div>
								<!--<div class="d-table">
									<div class="d-tbcell text-left text-capitalize">Tax</div>
									<div class="d-tbcell text-right"><i class="fa fa-rupee p-right10"></i>{{cartTotalAmount*taxAmount | number:2}}</div>
								</div>-->
								<div class="d-table">
									<div class="d-tbcell text-left text-capitalize">delivery charges</div>
									<div class="d-tbcell text-right" ng-show="!showFreeDelivery"><i class="fa fa-rupee p-right10"></i>{{deliveryCharges | number:2}}</div>
									<div class="d-tbcell text-right" ng-show="showFreeDelivery">Free</div>
								</div>
							</div>
							<div class="cart-totpay">
								<div class="d-table">
									<div class="d-tbcell color-theme text-left f-bold f-size14 text-capitalize">total pay</div>
									<div class="d-tbcell color-theme text-right f-bold f-size16"><i class="fa fa-rupee p-right10"></i>{{cartTotalAmount+(cartTotalAmount*taxAmount)+deliveryCharges | number:2}}</div>
								</div>
							</div>
							<button class="btn btn-danger btn-theme btn-block" ng-click="checkOut()">Proceed To Next</button>
						</div>
					</div>
					
				</div>
				<div id="removeCart" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content p-all20">

							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center m-btm20">
										<div class="f-size18 m-btm20">Are you sure, You want to delete {{removeProductName}}?</div>
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
										<div class="col-lg-6">
										<button class="btn btn-danger btn-block pull-left" ng-click="removeCartItem(cartIndex)">Yes</button></div>
										<div class="col-lg-6">
											<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="changeLocation" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content p-all20">
							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center f-size18" ng-show="storeError">
										{{storeErrorMessage}}<br>
										<button class="btn btn-danger btn-theme" ng-click="changeYourLocation()">Change Location</button>
									</div>

									<div class="form-horizontal" style="width: 550px" ng-show="!storeError">
										<div class="form-group default-popup nopadding"  ng-controller="indexController">
											<div class="d-table">
												<div class="d-tbcell v-middle">
													<i class="fa fa-search search-icon"></i>
													<input type="text" id="txtAutocomplete" placeholder="Enter your address" />
													<!--<input type="text" class="form-control input-lg" id="us3-address" /></div>-->
												</div>
												<div class="d-tbcell v-middle width50 width85">
													<button class="btn btn-default text-capitalize btn-lg f-size14" ng-click="currentLocation()">Current Location
														<img src="images/location-icon.png">
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>