	<!---- all tabs content ---->
	<div>
		<div class="tabs-details m-top60">
			<div class="container">
				<div class="tabs-detailsinner">
					<div class="row">
							<div class="f-bold f-size18">
								<h2 class="color-444">FAQs</h2>
							</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">

								<uib-accordion close-others="oneAtATime">
										<uib-accordion-group heading="When does Cremeville deliver?">
											We dispatch the orders within 15 minutes of order confirmation. We try our best to deliver the order within 40 minutes subject to the traffic and weather condition.
										</uib-accordion-group>
										<uib-accordion-group heading="What is Cremeville delivery process?">
											Once order is placed online through Web/Mobile App or on Call, the order is processed and packed .The dispatch is done within 15 minutes & the order is handed over to the delivery partner. Once the order is dispatched, a notification along with the tracking link will be sent on your registered email address and mobile number.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I place order on Phone?">
											Yes. You could call us on +91 9022608888 between 11 am to 7 pm.
										</uib-accordion-group>
										<uib-accordion-group heading="What is the minimum order for delivery?">
											There is no minimum order for delivery.
										</uib-accordion-group>
										<uib-accordion-group heading="How much are the delivery charges?">
											Delivery is free for orders above Rs. 399. For any orders below that we charge Rs. 40 as a delivery fee.
										</uib-accordion-group>
										<uib-accordion-group heading="I have received my order but there is problem with it, what can I do?">
											For quality control reasons we do not accept returns for any other cases except on Damaged/Expired product received.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I change my order once it has been placed?">
											No changes are accepted once the order is placed.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I cancel my order?">
											No return or cancellation is possible once the order is processed.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I order in advance?">
											No, you cannot order in advance. All our orders are placed and executed on-demand.
										</uib-accordion-group>
										<uib-accordion-group heading="What do I do if an item is defective (broken, leaking or expired)?">
											In case the items delivered to you is damaged, broken or expired, you can return it to the delivery personnel at time of delivery we will do the needful.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I place an order online and pick up my order from your store which is nearest to me?">
											Currently we do not offer this facility but very soon we are planning to provide this service.
										</uib-accordion-group>
										<uib-accordion-group heading="What if products ordered by me are out of stock?">
											In a rare case, where products ordered by you are out of stock, we would be providing Substitutes for the product unavailable. In case, we are not able to offer substitutes, we will deliver the rest of the products at your convenience and process a refund for the out of stock products in case of prepaid order or modify the Invoice in case of postpaid orders. In case of alternate products selection, the cost of these will be adjusted against original payment received and the balance will be refunded back to you or any extra cost (after confirmation from you) will be collected in cash by our Delivery Expert.
										</uib-accordion-group>
										<uib-accordion-group heading="How can I pay for my Cremeville orders?">
											We accept a wide range of payment options for your convenience:
											<ul>
												<li>Cash of Delivery (COD)</li>
												<li>Wallets</li>
												<li>Credit Cards</li>
												<li>Debit Cards</li>
												<li>ATM Cum Debit Cards</li>
												<li>Net Banking</li>
											</ul>
											All electronic payment information is kept strictly confidential and with the help of our payment gateway partners your transactions are conducted over secure SSL encryption technology.
										</uib-accordion-group>
										<uib-accordion-group heading="Is it safe to use my credit/ debit card on Cremeville?">
											Yes it is absolutely safe to use your card on Cremeville.com. We have partnered with PayU for the payment processing. It aims to be the fast, convenient, safe, portable and reusable single stop digital payment provider making the digital payments and online checkout processes simpler and safer for the 800 million electronically connected user base. A recent directive from RBI makes it mandatory to have an additional authentication pass code verified by VISA (VBV) or MSC (Master Secure Code) which has to be entered by online shoppers while paying online using visa or master credit card. It means extra security for customers, thus making online shopping safer.
										</uib-accordion-group>
										<uib-accordion-group heading="How do I know the payment status?">
											It's easy you login to Your Account and view the Payment Status on your order in the My Orders section.
										</uib-accordion-group>
										<uib-accordion-group heading="Do I get an invoice for my order?">
											You will receive an Invoice on your registered email. You can also login to Your Account and view the invoice on your order in the My Orders section.
										</uib-accordion-group>
										<uib-accordion-group heading="How does COD (Cash-On-Delivery) work?">
											We offer COD to make your life easy. Simply place your order with us and pay for it when you receive your goods at your doorstep!
										</uib-accordion-group>
										<uib-accordion-group heading="When and how will I get my refund in case of cancellation or product return?">
											The refund on cancelled orders are processed within 3 working days of cancellation
											<ul>
												<li>Credit Card, Debit Card, Net Banking Orders - the amount will be refunded directly into your original form of payment mode.</li>
												<li>For PayU Wallet Orders - the amount will be credited back to your PaU wallet.</li>
											</ul>
											Please note that for orders placed using Credit Card, Debit Card & Net Banking, the refund once processed from Cremeville may take up to 7-14 working days to reflect on your Credit Card or Bank Account. There will be no cash refund in such cases.
											For enquiries on refunds - please send us an e-mail at customercare@cremeville.com or call us at +91 9022608888 and our representative will get in touch with you to provide the latest status.
										</uib-accordion-group>
										<uib-accordion-group heading="If I pay by credit card how do I get the amount back for items not delivered?">
											If we are not able to delivery all the products in your order and you have already paid for them online, the balance amount will be refunded to you directly into your original form of payment mode.
										</uib-accordion-group>
										<uib-accordion-group heading="I was charged however, didn't receive order details. What is the status?">
											We apologize for the inconvenience caused to you. As your order was Not Successful you will receive a refund back in your account within 7-10 working days. Also we would request you to please place another order through our web/Mobile App
										</uib-accordion-group>
										<uib-accordion-group heading="I haven't received my refund?">
											Please email us at refunds@cremeville.com with your mobile number, email id and Order ID (if you have one), we will solve your query.
										</uib-accordion-group>
										<uib-accordion-group heading="Are there any hidden charges I should know about?">
											No, the price listed on the product page is all you pay. No Octroi, no additional sales tax, and no other hidden charges
										</uib-accordion-group>
										<uib-accordion-group heading="How do I contact customer service?">
											Our customer service team is available throughout the week, all seven days from 11 am to 7 pm. They can be reached at +91 9022608888 or via email at customercare@cremeville.com
										</uib-accordion-group>
										<uib-accordion-group heading="What are your timings to contact customer service?">
											Our customer service team is available throughout the week, all seven days from 11 am to 7 pm.
										</uib-accordion-group>
										<uib-accordion-group heading="How can I give feedback on the quality of customer service?">
											Our customer support team constantly strives to ensure the best shopping experience for all our customers. We would love to hear about your experience with Cremeville. Do write to us feedback@cremeville.com in case of positive or negative feedback.
										</uib-accordion-group>
										<uib-accordion-group heading="How do I change the delivery info (address to which I want products delivered)?">
											You can change your delivery address on our website once you log into your account. Click on "My Account" at the top right hand corner and go to the "My Profile" section to change your delivery address.
										</uib-accordion-group>
										<uib-accordion-group heading="How can I track my order?">
											If you are using mobile app, you can live track your order on a map built into the 'orders' menu. We will also keep you posted through SMS with delivery details. If you are using our website, live tracking is not yet available but the details of the progress of your order will be shared with you through SMS, between the order placement to delivery.
										</uib-accordion-group>
										<uib-accordion-group heading="My order is delayed?">
											If you have received an SMS with the contact details of our Delivery Executive you can call our Delivery Executive and ask him about his location and order status. If you are not satisfied, you can call us to know the status.
										</uib-accordion-group>
										<uib-accordion-group heading="I want to change my delivery address after the placement of order?">
											Any major change in delivery address is not possible after you have placed an order with us. However, slight modifications are allowed like changing flat number, street name, landmark etc. If you have received delivery executive details, you can directly call him.
										</uib-accordion-group>
										<uib-accordion-group heading="Where can I find currently running offers/ promotions?">
											There is a link called "Deals/Offers" on our website/Mobile App in category section. All products with any discount or promotions are listed under this section.
										</uib-accordion-group>
										<uib-accordion-group heading="How & where I can give my feedback?">
											We always welcome feedback, both positive and negative from all our customers. Please feel free to write to us at feedback@cremeville.com and we will do our best to incorporate your suggestions into our system.
										</uib-accordion-group>
										<uib-accordion-group heading="Where do I enter the coupon code?">
											Once you are done selecting your products and click on checkout you will be prompted to select delivery
											slot and payment method. On the payment method page there is a box where you can enter any coupon
											code that you have. The amount will automatically be deducted from your invoice value.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I use multiple coupons on a single order?">
											Coupons cannot be clubbed together to be used on a single order.
										</uib-accordion-group>
										<uib-accordion-group heading="I'm unable to use my coupon?">
											Please check the Terms & Conditions of the coupon and everything seems fine and if you are still unable to use coupon mail us at support@cremeville.com from your registered email id.
										</uib-accordion-group>
										<uib-accordion-group heading="Where can I check if I have any coupon on the Web/App?">
											If you have any active coupon available for you, you should be able to see that under offers section in our Web/mobile app.
										</uib-accordion-group>
										<uib-accordion-group heading="I'm facing issues with website/Mobile App?">
											Please write to us at support@cremeville.com with all the details. You may also call us at +91 9022608888.
										</uib-accordion-group>
										<uib-accordion-group heading="Do I need to register for placing an order?">
											Yes, but our registration process is just a one-step process. This is required so that we can keep you posted on the progress of your order until it gets delivered.
										</uib-accordion-group>
										<uib-accordion-group heading="I didn't get OTP (One Time Password) code on my mobile?">
											In some rare scenarios, if you didn't get an OTP you can send us your query to support@cremeville.com with your mobile number and email-id
										</uib-accordion-group>
										<uib-accordion-group heading="I'm unable to login to my account?">
											Try the 'Forgot password' option. If you are still facing trouble logging in then write to us at support@cremeville.com with your registered email
										</uib-accordion-group>
								</uib-accordion>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editProfile" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="profileInfo" role="form" ng-submit="updateProfileInfo()">
										<div class="form-group">
											<label for="">Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.name" value="{{userInfo.name}}" placeholder="Name">
										</div>
										<!--<div class="form-group">
											<label>Last Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.lastName" value="{{userInfo.lastName}}" placeholder="Last Name">
										</div>
										<div class="form-group">
											<label for="">Email</label>
											<input type="email" class="form-control" maxlength="30" ng-model="userInfo.email" value="{{userInfo.email}}" placeholder="Email">
										</div>-->
										<div class="form-group">
											<label for="">Mobile Number</label>
											<input type="text" readonly class="form-control" min="7000000000" max="9999999999" maxlength="10" ng-model="userInfo.phone" value="{{userInfo.phone}}" placeholder="Mobile Number">
										</div>
										<!--<div class="form-group">
											<label for="">Birth Date</label>
											<input type="text" class="form-control" maxlength="10" ng-model="userInfo.birthDate" value="{{userInfo.birthDate}}" placeholder="Birth Date">
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editAddress" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="contact-details" role="form" ng-submit="updateAddress()">
										<div class="form-group" ng-show="!hideType">
											<label for=""><span class="color-red f-size18">*</span>Address Type<span ng-show="errorAddressType" class="p-left20 color-red text-center">
												This Address Type Already Exists, Please Select Another.</span></label>
											<!--<input type="text" class="form-control" ng-model="addressToEdit.type" placeholder="Type of Address" required>-->
											<select class="form-control" ng-change="checkAddressType(addressToEdit.addressType)" ng-model="addressToEdit.addressType" placeholder="Type of Address" required>
												<option value="Home"> Home </option>
												<option value="Office"> Office </option>
												<option value="Other"> Other </option>
											</select>
										</div>
										<div ng-show="!errorAddressType">
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>House No</label>
											<input type="text" class="form-control" ng-model="addressToEdit.houseNumber" placeholder="House Number" required="">
										</div>
										<div class="form-group">
											<label><span class="color-red f-size18">*</span>Address</label>
											<input name="Address" type="text" class="form-control" ng-model="addressToEdit.streetAddress" placeholder="Address" required>
										</div>
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Land Mark</label>
											<input type="text" class="form-control" ng-model="addressToEdit.landMark" placeholder="Land Mark" required>
										</div>
										<!--<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Pincode</label>
											<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="addressToEdit.pincode" placeholder="Pincode" required>
										</div>-->
										<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for=""><span class="color-red f-size18">*</span>City</label>
												<input type="text" class="form-control" ng-model="addressToEdit.city" placeholder="City" required>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Pincode</label>
												<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="addressToEdit.pincode" placeholder="Pincode (Optional)">
											</div>
										</div>
										<!--<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Country</label>
												<input type="text" class="form-control" ng-model="addressToEdit.country" placeholder="Country">
											</div>
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="removeAddress" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">

						<!-- Modal content-->
						<div class="modal-content">

							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center m-btm20">
										<h3>Are you sure, You want to delete the Address?</h3>
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-left" ng-click="removeAddress(removeAddressId)">Yes</button></div>
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---- all tabs content ---->