<!----- slider ---->
<section class="jk-slider">
	<div id="carousel-example" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel-example" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example" data-slide-to="1"></li>
			<li data-target="#carousel-example" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">

			<div class="item active">
				<!-- <div class="hero">
                <hgroup>
                <h1>Search for</h1>
                <h3>the books you need and save ! </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                </hgroup>
                </div> -->
				<a><img src="../images/image_1.png" /></a>

			</div>
			<div class="item">
				<!-- <div class="hero">
                <hgroup>
                <h1>Search for</h1>
                <h3>the books you need and save ! </h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged</p>
                </hgroup>
                </div> -->
				<a><img src="../images/image_1.png" /></a>

			</div>
			<div class="item">
				<a><img src="../images/image_1.png" /></a>
			</div>
		</div>

		<!-- <a class="left carousel-control" href="#carousel-example" data-slide="prev">
        <span class="fa fa-chevron-left fa-2x"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
        <span class="fa fa-chevron-right fa-2x"></span>
        </a> -->
	</div>

	<div class="curve-image1" style=""></div>
</section>




<!---- 4 columns ---->
		<!--<div>
			<div class="four-columns">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
									<div class="column-content">
										<div class="column-name color-fff f-bold">90.00</div>
										<div class="column-area color-fff">Lorem Ipsum</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
									<div class="column-content">
										<div class="column-name color-fff f-bold">90</div>
										<div class="column-area color-fff">Lorem Ipsum</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
									<div class="column-content">
										<div class="column-name color-fff f-bold">90</div>
										<div class="column-area color-fff">Lorem Ipsum</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
									<div class="column-content">
										<div class="column-name color-fff f-bold">90</div>
										<div class="column-area color-fff">Lorem Ipsum</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<!---- 4 columns ---->
		
		
		
		
		<!----- our delicious ------>
		<div>
			<div class="our-delicious">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
							<div class="delicious-title color-theme"><h2>Our delicious</h2></div>
							<div><img src="../images/border.png" class="img-responsive center-block" /></div>
						</div>
						<div ng-repeat="category in categories | orderBy:'sNo' track by $index">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 wow slideInLeft" data-wow-iteration="" data-wow-duration="2s" ng-if="$index<6">
								<div class=" delicious-items">
									<div class="delicious-img pos-relative">
										<a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1">
											<img src="{{category.imageUrl}}" class="img-responsive pos-relative center-block" /></a>
										<div class="pos-absolute delicious-search"><a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1"><i class="fa fa-search item1"></i></a></div>
									</div>
									<div class="delicious-name color-theme text-center text-capitalize">
										<a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1">
											<h3 class="f-size16 f-bold text-capitalize" style="color: #F05B71">{{category.name}}</h3></a></div>
									</div>
							</div>


						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-if="$index==6">
							<div class="delicious-items">
								<div class="delicious-img pos-relative">
									<a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1">
										<img src="{{category.imageUrl}}" class="img-responsive pos-relative center-block" /></a>
									<div class="pos-absolute delicious-search"><a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1"><i class="fa fa-search item1"></i></a></div>
								</div>
								<div class="delicious-name color-theme text-center text-capitalize">
									<a href="#/category/{{category.name}}" ng-click="setCategoryId(category.id)" class="item1">
										<h3 class="f-size16 f-bold text-capitalize" style="color: #F05B71">{{category.name}}</h3></a></div>
							</div>
						</div>

						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
							<div class="delicious-items">
								<div class="delicious-img pos-relative">
									<img src="../images/Offers_and_Deals.png" class="img-responsive pos-relative center-block" />
									<div class="pos-absolute delicious-search"><a href="#/category/Offers%20&%20Deals" ng-click="setCategoryId(category.id)" class="item1"><i class="fa fa-search item1"></i></a></div>
								</div>
								<div class="delicious-name color-theme text-center text-capitalize"><h3 class="f-size16 f-bold text-capitalize">Offers & Deals</h3></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!----- our delicious ------>
	<!----- content part  ---->
		<script src="../js/jquery.event.move.js"></script>
		<script src="../js/responsive-slider.min.js"></script>
		<script>
			$( document ).ready( function() {
				$('.responsive-slider').responsiveSlider({
					autoplay: false,
					interval: 5000,
					transitionTime: 300,
					animate: fade
				});
			});

		</script>

	<script type="text/javascript" src="../js/jquery.dropdown.js"></script>
<!--		<script type="text/javascript">

			$( function() {

				$( '#cd-dropdown' ).dropdown( {
					gutter : 1,
					stack : false,
					slidingIn : 100
				} );
				$( '#cd-dropdown1' ).dropdown( {
					gutter : 1,
					stack : false,
					slidingIn : 100
				} );
				$( '#cd-dropdown2' ).dropdown( {
					gutter : 1,
					stack : false,
					slidingIn : 100,
					animate: fade
				} );

			});

		</script>-->

