<style>
    .buttonTransparent{
        color:white;
        font-size: 30px;
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    }
</style>

<section id="intro" class="intro-section" style="background-image: url('../images/login_bg.jpg');padding-top: 100px;">
    <div>
        <div class="loginmain">
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <form name="resendOtp"  ng-submit="getOtp()">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="form-group float-label-control label-bottom">
                                        <label for="" class="control-label color-fff">Mobile Number</label>
                                        <input type="text" class="form-control"  data-toggle="tooltip" data-placement="top"  title="Phone number starting with 7-9 and remaining 9 digit with 0-9" pattern="[7-9]{1}[0-9]{9}" maxlength="10" ng-model="user.phone" name="mobile" placeholder="Enter Mobile Number" pattern="/^[0-9]{1,10}$/" trim="false" required />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger f-size18">Proceed</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form name="otpForm"  ng-submit="confirmOtp()">
                            <div class="row" ng-show="showOtpForm">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="form-group float-label-control label-bottom">
                                        <label for="inputName" class="control-label">Name</label>
                                        <input type="text" class="form-control" data-toggle="tooltip" data-placement="top"  name="fname" pattern="[A-Za-z\s]{1,20}" title="Enter Your Name Max 20 Character" ng-model="user.name" placeholder="Enter Your Name" required/>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="form-group float-label-control label-bottom">
                                        <label for="" class="control-label">OTP</label>
                                        <input type="text" class="form-control" ng-model="user.password" data-toggle="tooltip" data-placement="top"  title="Enter OTP" pattern="[0-9]{4}" maxlength="4" name="otpVerification" placeholder="OTP" pattern="/^[0-9]{1,4}$/" trim="false" required />
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger f-size18">Verify OTP</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <div id="otpSend" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content p-all20">

                <div class="modal-body text-center">
                    <div class="row">
                        <div class="text-center m-btm20">
                            <div class="f-size18 m-btm20">We have sent an OTP to Your Mobile.<br> Please Verify the OTP to Login</div>
                            <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
                                <button class="btn btn-danger" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>