<style>
    .buttonTransparent{
    color:white;
    font-size: 30px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    }
</style>

<section id="intro" class="intro-section" style="background-image: url('../images/login_bg.jpg');padding-top: 100px;">
    <div>
        <div class="loginmain">
            <div id="loginenter" class = "nav nav-tabs">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                            <!--<ul class="row list-none nopadding">
                                <li class="active col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" ng-click="resetForm()">
                                    <a data-target="#home" data-toggle="tab" class="text-decnone color-fff text-capitalize f-size18 f-bold cursor-pointer">
                                        Login<div class="login-btmborder"></div>
                                    </a>
                                </li>
                                <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center" ng-click="resetForm()">
                                    <a data-target="#ios" data-toggle="tab" class="text-decnone color-fff text-capitalize f-size18 f-bold cursor-pointer">
                                        SignUP<div class="login-btmborder"></div>
                                    </a>
                                </li>
                            </ul>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <div id="" class = "tab-content">
                            <div class = "tab-pane fade in active" id = "home">
                                <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="loginError">
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <h4 class="color-red">{{loginErrorMessage}}</h4>
                                        </div>
                                        <div class="col-lg-2">
                                            <a class="text-center pull-left f-size14 color-fff btn btn-danger" ng-show="resendButton" ng-click="resendOtpForm()">Resend OTP</a>
                                        </div>
                                    </div>
                                </div>
                                <!---- LoginForm ----->
                                <form data-toggle="validator" id="loginForm" role="form" ng-submit="loginSubmit()" ng-show="showLoginForm">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <input type="text" class="form-control"  data-toggle="tooltip" data-placement="top"  title="Phone number starting with 7-9 and remaining 9 digit with 0-9" pattern="[7-9]{1}[0-9]{9}" maxlength="10" ng-model="user.phone" name="mobile" placeholder="We Just Need Your Mobile Number" pattern="/^[0-9]{1,10}$/" trim="false" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-danger center-block f-size18">Get OTP</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <input type="password" class="form-control" id="inputUsernameEmail" ng-model="user.password" title="Enter Your Password" name="password" placeholder="Now Just Enter OTP" required  />
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger center-block f-size18">Login</button>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <a href="#/login" class="text-decnone f-size14 pull-right color-fff forgot-password" data-toggle="modal" data-target="#forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <div class="f-size12 text-capitalize color-fff"><i>Login with social</i></div>
                                            <ul class="social-links list-none">
                                                <li><a><i class="fa fa-facebook"></i></a></li>
                                                <li><a><i class="fa fa-google-plus"></i></a></li>
                                                <li><a><i class="fa fa-twitter"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <!---- LoginForm ----->

                                <!---- Resend OTP Form ---->
                                <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 m-btm20" ng-show="!showLoginForm">
                                    <h4 class="color-fff">OTP Verification</h4>
                                </div>
                                <form name="resendOtp" ng-show="!showLoginForm">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <label for="" class="control-label color-fff">Mobile Number</label>
                                                <input type="text" class="form-control"  data-toggle="tooltip" data-placement="top"  title="Phone number starting with 7-9 and remaining 9 digit with 0-9" pattern="[7-9]{1}[0-9]{9}" maxlength="10" ng-model="verifyPhone" name="mobile" placeholder="Mobile Number" pattern="/^[0-9]{1,10}$/" trim="false" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-show="!showOtpForm">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger f-size18" ng-click="getOtp()">Get OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" ng-show="showOtpForm">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <label for="" class="control-label">OTP</label>
                                                <input type="text" class="form-control" ng-model="verifyOtp" data-toggle="tooltip" data-placement="top"  title="Enter OTP" pattern="[0-9]{6}" maxlength="6" name="otpVerification" placeholder="OTP" pattern="/^[0-9]{1,6}$/" trim="false" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger f-size18" ng-click="confirmOtp('login')">Verify OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!---- Resend OTP Form ---->
                            </div>
                            <div class = "tab-pane fade" id = "ios">
                                <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="phoneExistance">
                                    <h4 class="color-red">Mobile Number Already Exists </h4>
                                </div>
                                <form data-toggle="validator" role="form" id="signupForm" ng-submit="registerSubmit()">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <label for="inputName" class="control-label">First Name</label>
                                                <input type="text" class="form-control" data-toggle="tooltip" data-placement="top"  name="fname" pattern="[A-Za-z]{1,20}" title="Enter Your First Name Max 20 Character" ng-model="user.name" placeholder="First Name"  ng-trim="false"  required/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <label for="inputName" class="control-label">Last Name</label>
                                                <input type="text" class="form-control" name="lname"  data-toggle="tooltip" data-placement="top"  pattern="[A-Za-z]{1,20}" title="Enter Your Last Name Max 20 Character" ng-model="user.lastName" placeholder="Last Name" pattern="/^[a-zA-Z]*$/" trim="false" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group float-label-control label-bottom">
                                        <label for="inputName" class="control-label">Mobile Number</label>
                                        <input type="text" class="form-control"  data-toggle="tooltip" data-placement="top"  title="Phone number starting with 7-9 and remaining 9 digit with 0-9" pattern="[7-9]{1}[0-9]{9}" maxlength="10" ng-model="user.phone" name="mobile" placeholder="Enter Your Mobile Number" pattern="/^[0-9]{1,10}$/" trim="false" required />
                                    </div>
                                    <div class="form-group float-label-control label-bottom">
                                        <label for="inputEmail" class="control-label">Email</label>
                                        <input type="email" class="form-control"  data-toggle="tooltip" data-placement="top"  id="email" name="email" title="Enter Your Email Address" ng-model="user.email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,5}(\.[a-zA-Z]{2,5}){0,1}"  placeholder="Email (Optional)"/>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group float-label-control label-bottom">
                                                    <label for="inputPassword" class="control-label">Password</label>
                                                    <input type="password" name="pwd1" id="password1" data-toggle="tooltip" data-placement="top"  class="form-control" title="Minimum 6 characters required" ng-model="user.password"  minlength="6" maxlength="20" placeholder="Password" required onchange="form.pwd2.pattern = this.value;" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="form-group float-label-control label-bottom">
                                                    <label for="inputPassword" class="control-label">Confirm Password</label>
                                                    <input type="password" name="pwd2" id="password2"  data-toggle="tooltip" data-placement="top"  title="Confirm Your Password"  class="form-control" ng-model="password" placeholder="Confirm Password" required/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger f-size18">Signup</button>
                                    </div>
                                </form>


                                <form data-toggle="validator" role="form" id="otpForm" ng-submit="confirmOtp()" ng-show="showOtpForm">
                                    <br>
                                    <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="!otpMatched">
                                        <h4 class="color-red">{{otpErrorMessage}}</h4>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                            <div class="form-group float-label-control label-bottom">
                                                <label for="inputName" class="control-label">OTP</label>
                                                <input type="text" class="form-control" ng-model="verifyOtp" data-toggle="tooltip" data-placement="top"  title="Enter OTP" pattern="[0-9]{6}" maxlength="6" name="otp" placeholder="OTP" pattern="/^[0-9]{1,6}$/" trim="false" required />
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-danger f-size18">Confirm OTP</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!---- contact details ---->