
	<!---- YOur Order Is Ready ---->
	<div>
		<div class="order-ready">
			<div class="container">
				<div class="order-readyinner">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-tb20">
							<div class="text-capitalize contact-title d-tbcell">Your Order is on the way</div>
						</div>
						<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
							<div class="">
								<img src="../images/delivery_icon.png" style="height: 225px;"/>
								<div class="text-capitalize f-size12 color-444 text-center f-bold m-btm20">your order will reach here</div>
								<div class="f-size12 text-center f-bold m-btm20 color-theme">

									{{orderAddress.houseNumber}},<br> {{orderAddress.streetAddress}}, <br>{{orderAddress.landMark}}
									<br> {{orderAddress.city}}-{{orderAddress.pincode}}
								</div>
							</div>
						</div>
						<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center">							
							<div class="table-responsive m-tb20">
								<table class="table table-borderd">
									<thead>
										<tr class="heading">
											<th class="text-left color-fff text-capitalize">product</th>
											<th class="text-center color-fff text-capitalize">quantity</th>
											<th class="text-right color-fff text-capitalize ">total</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="cartItem in orderSummeryCartList">
											<td class="text-capitalize text-left f-bold f-size14">{{cartItem.name}}</td>
											<td class="text-capitalize text-center f-bold f-size14"><span>{{cartItem.quantity}}</span></td>
											<td class="text-capitalize text-right f-bold f-size14"><i class="fa fa-rupee p-right10"></i><span>{{cartItem.total}}</span></td>
										</tr>
										<tr>
											<td class="text-capitalize f-size12 f-bold color-444 text-left">Sub Total</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right">{{orderSummery.subTotal | number:2}}</td>
										</tr>
										<!--<tr>
											<td></td>
											<td class="text-capitalize f-size12 f-bold color-444 text-left">Tax</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right">{{orderSummery.tax | number:2}}</td>
										</tr>-->
										<tr>
											<td class="text-capitalize f-size12 f-bold color-444 text-left">delivery charges</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right" ng-show="!showFreeDelivery"><i class="fa fa-rupee p-right10"></i>{{orderSummery.deliveryCharges | number:2}}</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right" ng-show="showFreeDelivery">{{orderSummery.deliveryCharges}}</td>
										</tr>
										<tr ng-if="orderSummery.loyaltyAmount > 0">
											<td class="text-capitalize f-size12 f-bold color-444 text-left">Loyalty Amount</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right"><i class="fa fa-rupee p-right10"></i>{{orderSummery.loyaltyAmount | number:2}}</td>
										</tr>
										<tr ng-if="orderSummery.couponAmount > 0">
											<td class="text-capitalize f-size12 f-bold color-444 text-left">Discount</td>
											<td colspan="2" class="text-capitalize f-size12 f-bold text-right"><i class="fa fa-rupee p-right10"></i>{{orderSummery.couponAmount | number:2}}</td>
										</tr>
										<tr>
											<td class="text-capitalize f-size14 f-bold color-theme text-left">Total Payment</td>
											<td colspan="2" class="text-capitalize f-bold color-theme text-right"><i class="fa fa-rupee p-right10"></i><span>{{orderSummery.cartValue | number:2}}</span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<a href="#/userProfileTabs" class="btn btn-danger btn-theme text-capitalize btn-block btn-lg f-size14">View Your Order</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---- YOur Order Is Ready ---->