
<!---- Order Confirmation ---->
<div>
	<div class="order-ready m-top60">
		<div class="container">
			<div class="order-readyinner">
				<div class="row">
					<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="text-capitalize contact-title d-tbcell">Choose Your Delivery Address:</div>
					</div>-->

					<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 text-center">
						<div class="text-capitalize contact-title">Checkout</div>
					</div>

					<div class="m-tb20 col-lg-5 col-md-5 col-sm-12 col-xs-12 text-center">
						<form name="couponForm" ng-submit="applyCoupon()">
							<div class="coupan-area">
							<div class="m-tb20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<span class="m-btm20 text-capitalize f-bold">do you have a coupon code?</span>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input type="text" class="coupon-input m-btm20" ng-model="orderDetails.couponCode" placeholder="Coupon Code" title="Please Enter Coupon Code" required/>
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<button type="submit" class="btn btn-danger btn-theme text-capitalize btn-block btn-lg f-size14  m-btm20">Apply Coupon</button>
							</div>
							</div>
						</form>
						<div class="alert alert-success text-center" ng-show="couponSuccess">{{couponSuccessMessage}}</div>
						<div class="alert alert-danger text-center" ng-show="couponError">{{couponErrorMessage}}</div>
						<hr>
						<div class="coupan-area1">
						<div class="m-tb20 col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<span class="m-btm20 text-capitalize f-bold">Your Cremees: {{userInfo.loyalty.totalPoints}}</span>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<button class="btn btn-danger btn-theme text-capitalize btn-block btn-lg f-size14  m-btm20" ng-click="redeemLoyalty()">Redeem Cremees</button>
						</div>
						</div>
						<div class="alert alert-success text-center" ng-show="loyaltySuccess">Cremees Redeemed Successfully</div>
						<div class="alert alert-danger text-center" ng-show="loyaltyError">Cremees Not available</div>
					</div>

					<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 text-center" id="paymentOption">
						<div class="table-responsive m-tb20">
							<table class="table table-borderd">
								<thead>
									<tr class="heading">
										<th class="text-left color-fff text-capitalize">product</th>
										<th class="text-center color-fff text-capitalize">quantity</th>
										<th class="text-right color-fff text-capitalize ">total</th>
									</tr>
								</thead>
								<tbody>
								<tr ng-repeat="cartItem in cartList" class="no-border">
									<td class="text-capitalize text-left f-bold f-size14">{{cartItem.cartItem.name}}</td>
									<td class="text-capitalize text-center f-bold f-size14"><span>{{cartItem.quantity}}</span></td>
									<td class="text-capitalize text-right f-bold f-size14"><i class="fa fa-rupee p-right10"></i><span>{{cartItem.total}}</span></td>
								</tr>
								<tr>
									<td class="text-capitalize f-size12 f-bold color-444 text-left">Sub Total</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12"><i class="fa fa-rupee p-right10"></i>{{totalCartAmount | number:2}}</td>
								</tr>
								<!--<tr>
									<td></td>
									<td class="text-capitalize f-size12 f-bold color-444 text-left">Tax</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12"><i class="fa fa-rupee p-right10"></i>{{totalCartAmount*taxAmount | number:2}}</td>
								</tr>-->
								<tr>
									<td class="text-capitalize f-size12 f-bold color-444 text-left">delivery charges</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12" ng-show="!showFreeDelivery"><i class="fa fa-rupee p-right10"></i>{{deliveryCharges | number:2}}</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12" ng-show="showFreeDelivery">Free</td>
								</tr>
								<tr ng-if="orderDetails.loyaltyAmount > 0">
									<td class="text-capitalize f-size12 f-bold color-444 text-left">Loyalty Amount</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12"><i class="fa fa-rupee p-right10"></i>{{orderDetails.loyaltyAmount | number:2}}</td>
								</tr>
								<tr ng-if="orderDetails.couponAmount > 0">
									<td class="text-capitalize f-size12 f-bold color-444 text-left">Discount</td>
									<td colspan="2" class="text-capitalize f-bold text-right f-size12"><i class="fa fa-rupee p-right10"></i>{{orderDetails.couponAmount | number:2}}</td>
								</tr>
								<tr>
									<td class="text-capitalize f-size14 f-bold color-theme text-left">Total Payment</td>
									<td colspan="2" class="text-capitalize f-bold color-theme text-right"><i class="fa fa-rupee p-right10"></i><span>{{orderAmount | number:2}}</span></td>
								</tr>
								</tbody>
							</table>
						</div>




					</div>

					<!-- -->


					<div class="delivery-adds" align="center">
						<div class="row">

							<div class="m-btm20 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
								<div class="row">

									<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12 text-center">
										<div class="text-capitalize contact-title">Choose Your Delivery Address:</div>
									</div>
									<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 add-address1 active" ng-repeat="address in addressList">
										<div class="add-address">
											<div class="panel panel-default heading">
												<div class="panel-heading text-center">
													<!-- <i class="fa fa-home color-000"></i> -->
													<h3 class="panel-title color-fff">{{address.addressType}}</h3>
												</div>
												<div class="panel-body">
													<a class="add-newaddress text-decnone" style="display: none;">
														<i class="fa fa-plus-circle color-fff fa-2x" ></i>
														<div class="f-size18 color-fff">Add Address</div>
													</a>
													<div class="address-area text-left color-fff">
														{{address.houseNumber}}<br />
														{{address.streetAddress}}<br />
														{{address.landMark}}<br />
														{{address.city}} - {{address.pincode}}
													</div>
												</div>
												<div class="panel-footer">
													<div class="row">
														<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding">
															<button class="btn btn-danger btn-block" data-target="#editAddress" data-toggle="modal" ng-click="orderAddressEdit(address)">
																<i class="fa fa-edit fa-2x color-fff"></i></button>
														</div>
														<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding">
															<button class="btn btn-danger btn-block" data-target="#paymentOption" data-toggle="" ng-click="selectedAddress(address)"><i class="fa fa-check-circle-o fa-2x color-fff text-center"></i></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="row text-center m-btm20" ng-show="showAddAddress">
									<button class="btn btn-theme color-fff" ng-click="addAddressForm('addNew')">
										<i class="p-right10 fa fa-plus-circle color-fff"></i>Add Address</button>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-offset-4 col-lg-4 col-lg-offset-4 col-md-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12 text-center m-btm20">
						<div ng-show="!addressSelection" class="alert alert-danger text-center">
							Please Select an Address
						</div>

						<h3>Choose Payment Option</h3>
						<button class="btn btn-danger btn-theme text-capitalize btn-block btn-lg f-size14" ng-click="cashOnDeliveryPopup()">Cash On Delivery</button>
						<a class="btn btn-danger btn-theme text-capitalize btn-block btn-lg f-size14" ng-click="placeOrder()">Pay Online</a>
					</div>
					<!-- -->

				</div>
			</div>

			<div id="cashOnDelivery" class="modal fade" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content p-all20">

						<div class="modal-body text-center">
							<div class="row">
								<div class="text-center m-btm20">
									<div class="f-size18 m-btm20">Do you want to continue with Cash On Delivery?</div>
									<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
										<div class="col-lg-6">
											<button class="btn btn-danger btn-block pull-left" ng-click="placeOrder(1)">Yes</button></div>
										<div class="col-lg-6">
											<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="editAddress" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">

						<!-- <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                            </button>
                             <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                        </div> -->

						<div class="modal-body">
							<div class="m-all20">
								<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
							<form id="contact-details" role="form" ng-submit="updateAddress()">

								<div class="form-group" ng-show="!hideType">
									<label for=""><span class="color-red f-size18">*</span>Type<span ng-show="errorAddressType" class="p-left20 color-red text-center">
												{{addressTypeError}}</span></label>
									<!--<input type="text" class="form-control" ng-model="editAddress.type" placeholder="Type of Address" required>-->
									<select class="form-control" ng-change="checkAddressType(editAddress.addressType)" ng-model="editAddress.addressType" placeholder="Type of Address" required>
										<option value="Home"> Home </option>
										<option value="Office"> Office </option>
										<option value="Other"> Other </option>
									</select>
								</div>
								<div ng-show="!errorAddressType">
								<div class="form-group">
									<label for=""><span class="color-red f-size18">*</span>House No</label>
									<input type="text" class="form-control" ng-model="editAddress.houseNumber" placeholder="House Number" required>
								</div>
								<div class="form-group">
									<label for="">Location</label>
									<input type="text" class="form-control" readonly ng-model="editAddress.areaName" placeholder="Location" required>
								</div>
								<div class="form-group">
									<label><span class="color-red f-size18">*</span>Address</label>
									<input name="Address" type="text" class="form-control" ng-model="editAddress.streetAddress" placeholder="Address" required>
								</div>
								<div class="form-group">
									<label for=""><span class="color-red f-size18">*</span>Land Mark</label>
									<input type="text" class="form-control" ng-model="editAddress.landMark" placeholder="Land Mark" required>
								</div>
								<div class="row form-group">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<label for=""><span class="color-red f-size18">*</span>City</label>
										<input type="text" class="form-control" ng-model="editAddress.city" placeholder="City" required>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<label for="">Pincode</label>
										<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="editAddress.pincode" placeholder="Pincode (Optional)" >
									</div>
								</div>
								<!--<div class="row form-group">
									<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
										<label for="">Country</label>
										<input type="text" class="form-control" ng-model="editAddress.country" placeholder="Country">
									</div>
								</div>-->
								<div class="form-group text-center">
									<button type="submit" class="btn btn-danger text-capitalize">Save</button>
								</div>
								</div>
							</form>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!---- Order Confirmation ---->