<div>
    <div class="tabs-details m-top60">
        <div class="container">
            <div class="tabs-detailsinner">
                <div class="row">
                    <div class="f-bold">
                        <h2 class="color-444">Privacy Policy</h2>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
                        <h3>Personal Information</h3>
                        <p>
                            "Cremeville" is a brand of M/s.Scoopy( referred as company), a Partnership Firm registered under the Indian Partnership Act, 1932 with its corporate office at 10/145, Mira Society, Salisbury Park, Pune 411037 in the course of its business.
                        </p>

                        <p>
                            The Company respects your privacy and values the trust you place in it. Set out below is the Company’s ‘Privacy Policy’ which details the manner in which information relating to you is collected, used and disclosed.
                        </p>

                        <p>
                            <i>
                                The Company expects all visitors to www.cremeville.com (our site) are advised to read and understand our Privacy Policy carefully, as by accessing that you agree to be bound by the terms and conditions of the Privacy Policy and consent to the collection, storage and use of information relating to you as provided herein.
                            </i>
                        </p>

                        <p>
                            <i>
                                If you do not agree with the terms and conditions of our Privacy Policy, including in relation to the manner of collection or use of your information, please do not use or access the site .
                            </i>
                        </p>

                        <p>
                            Our Privacy Policy is incorporated into the Terms of Use of the company, and is subject to change from time to time without any notice. It is strongly recommended that you periodically review our Privacy Policy as posted on the site.
                        </p>

                        <p>
                            Should you have any clarifications regarding this Privacy Policy, please do not hesitate to contact us at info@cremeville.com.
                        </p>

                        <h3>Collection, Storage and Use of Information Related to You</h3>
                        <p>
                            We may automatically track certain information about you based upon your behaviour. We use this information to do internal research on our users’ demographics, interests, and behaviour to better understand, protect and serve users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on the or not), which URL you next go to (whether this URL is on the or not), your computer browser information, your IP addresses, and other information associated with your interaction.
                        </p>

                        <p>
                            We also collect and store personal information provided by you from time to time. We only collect and use such information from you that we consider necessary for achieving a seamless, efficient and safe experience, customized to your needs including:
                        </p>

                        <ol>
                            <li>
                                To enable the provision of services opted for by you.
                            </li>
                            <li>
                                To communicate necessary account and product/service related information from time to time.
                            </li>
                            <li>
                                To allow you to receive quality customer care services.
                            </li>
                            <li>
                                To undertake necessary fraud and money laundering prevention checks, and comply with the highest security standards.
                            </li>
                            <li>
                                To comply with applicable laws, rules and regulations and
                            </li>
                            <li>
                                To provide you with information and offers on products and services, on updates, on promotions, on related, affiliated or associated service providers and partners, that we believe would be of interest to you.
                            </li>
                        </ol>

                        <p>
                            Where any service requested by you involves a third party, such information as is reasonably necessary by the Company to carry out your service request may be shared with such third party.
                        </p>

                        <p>
                            We also do use your contact information to send you offers based on your interests and prior activity. The Company may also use contact information internally to direct its efforts for product improvement, to contact you as a survey respondent, to notify you if you win any contest; and to send you promotional materials from its contest sponsors or advertisers.
                        </p>

                        <p>
                            Further, you may from time to time choose to provide payment related financial information (credit card, debit card, bank account details, billing address etc.) on the . We are committed to keeping all such sensitive data/information safe at all times and ensure that such data/information is only transacted over secure [of approved payment gateways which are digitally encrypted, and provide the highest possible degree of care available under the technology presently in use.
                        </p>

                        <p>
                            The Company will not use your financial information for any purpose other than to complete a transaction with you.
                        </p>

                        <p>
                            To the extent possible, we provide you the option of not divulging any specific information that you wish for us not to collect, store or use. You may also choose not to use a particular service or feature, and opt out of any non-essential communications from the Company.
                        </p>

                        <p>
                            Further, transacting over the internet has inherent risks which can only be avoided by you following security practices yourself, such as not revealing account/login related information to any other person and informing our customer care team about any suspicious activity or where your account has/may has been compromised.
                        </p>

                        <p>
                            We use data collection devices such as “cookies” on certain pages of to help analyse our web page flow, measure promotional effectiveness, and promote trust and safety. “Cookies” are small files placed on your hard drive that assist us in providing our services. We offer certain features that are only available through the use of a "cookie".
                        </p>

                        <p>
                            We also use cookies to allow you to enter your password less frequently during a session. Cookies can also help us provide information that is targeted to your interests. Most cookies are “session cookies,” meaning that they are automatically deleted from your hard drive at the end of a session. You are always free to decline our cookies if your browser permits, although in that case you may not be able to use certain features and you may be required to re-enter your password more frequently during a session.
                        </p>

                        <p>
                            Additionally, you may encounter "cookies" or other similar devices on certain pages that are placed by third parties. We do not control the use of cookies by third parties.
                        </p>

                        <p>
                            If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities, we may collect such information into a file specific to you.
                        </p>

                        <p>
                            We do not retain any information collected for any longer than is reasonably considered necessary by us, or such period as may be required by applicable laws. The Company may be required to disclose any information that is lawfully sought from it by a judicial or other competent body pursuant to applicable laws.
                        </p>

                        <p>
                            This may contain links to other websites. We are not responsible for the privacy practices of such websites which we do not manage and control.
                        </p>

                        <h3>Choices Available Regarding Collection, Use and Distribution of Information</h3>
                        <p>
                            To protect against the loss, misuse and alteration of the information under its control, the Company has in place appropriate physical, electronic and managerial procedures. For example, the Company servers are accessible only to authorized personnel and your information is shared with employees and authorized personnel on a need to know basis to complete the transaction and to provide the services requested by you. Although the Company endeavours to safeguard the confidentiality of your personally identifiable information, transmissions made by means of the Internet cannot be made absolutely secure. By using your data, you agree that the Company will have no liability for disclosure of your information due to errors in transmission and/or unauthorized acts of third parties.
                        </p>

                        <p>
                            Please note that we will not ask you to share any sensitive data or information via email or telephone. If you receive any such request by email or telephone, please do not respond/divulge any sensitive data or information and forward the information relating to the same to info@cremeville.com for necessary action.
                        </p>

                        <h3>Communication with Company</h3>
                        <p>
                            If you wish to correct or update any information you have provided, you may do so online, on the itself. Alternatively, you may contact the Company to correct or update such information by sending an e-mail to: info@cremeville.com.
                        </p>

                        <p>
                            In the event of loss of access to your information, you may contact the Company by sending an e-mail to: info@cremeville.com.
                        </p>

                        <p>
                            In the event you wish to report a breach of the Privacy Policy, you may contact the designated Grievance Officer of the Company at:
                            <br>
                            Yogesh Agarwal
                            <br>
                            M/s.Scoopy,
                            <br>
                            10/145, Mira Society, Salisbury Park
                            <br>
                            Pune, Maharastra – 411037
                            <br>
                            Email address: info@cremeville.com
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>