<div class="m-top60">
    <div>
        <img src="../images/image_2.png" class="img-responsive"/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center">

                <div class="m-btm5"><br>
                    <div class="d-table full-width mtb heading" style="padding: 5px 20px">
                        <div class="d-tbcell v-middle">
                            <div class="text-left text-capitalize f-size18">
                                <i ng-class="flavours ? 'fa fa-caret-down' : 'fa fa-caret-right'"
                                   class="option-click cursor-pointer" ng-click="flavours = !flavours">
                                    <span class="p-left10 color-fff" style="font-size: medium;">Flavours</span>
                                </i>
                            </div>
                        </div>
                    </div>

                    <div collapse="flavours" class="options-view" style="height: 200px;overflow-y: auto">
                        <div class="checkbox checkbox-info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr ng-repeat="flavour in flavoursData track by $index">
                                        <td class="pull-left checkbox_wrapper">
                                            <input type="checkbox" id="{{flavour.id}}" ng-model="flavourName"
                                                   name="{{flavour.name}}" class="styled" ng-true-value="true"
                                                   ng-false-value="false" ng-change="filterByFlavourAndBrand(flavourName, flavour.id, 'Flavour')">
                                            <label for="{{flavour.id}}" class="p-input"> {{flavour.name}} </label>
                                        </td>
                                    </tr>
                                </table>
                                <!--<div class="checkbox_wrapper">
                                    <input id="abc" type="checkbox" />
                                    <label for="abc" >adsad</label>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-btm5"><br>
                    <div class="d-table full-width mtb heading" style="padding: 5px 20px">
                        <div class="d-tbcell v-middle">
                            <div class="text-left text-capitalize f-size18">
                                <i ng-class="brands ? 'fa fa-caret-down' : 'fa fa-caret-right'"
                                   class="option-click cursor-pointer" ng-click="brands = !brands">
                                    <span class="p-left10 color-fff" style="font-size: medium;">Brands</span>
                                </i>
                            </div>
                        </div>
                    </div>

                    <div collapse="brands" class="options-view">
                        <div class="checkbox checkbox-info">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr ng-repeat="brand in brandsData track by $index">
                                        <td class="pull-left checkbox_wrapper">
                                            <input type="checkbox" id="{{brand.id}}" ng-model="brandName"
                                                  name="{{brand.name}}" class="styled" ng-true-value="true"
                                                  ng-false-value="false" ng-change="filterByFlavourAndBrand(brandName,brand.id,'Brand')">
                                            <label for="{{brand.id}}" class="p-input"> {{brand.name}} </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-btm5"><br>
                    <div class="d-table full-width mtb heading" style="padding: 5px 20px">
                        <div class="d-tbcell v-middle">
                            <div class="text-left text-capitalize f-size18">
                                <i ng-class="price ? 'fa fa-caret-down' : 'fa fa-caret-right'"
                                   class="option-click cursor-pointer" ng-click="price = !price">
                                    <span class="p-left10 color-fff" style="font-size: medium;">Price</span>
                                </i>
                            </div>
                        </div>
                    </div>
                    <div collapse="price" class="options-view">
                        <ul class="budget-options p-all0 cursor-pointer m-tb20" style="list-style-position:inside; text-align: left">
                            <li><a class="textdec-none" ng-click="priceRange(0,50)"><i class="fa fa-inr"></i> 0 - <i class="fa fa-inr"></i> 50</a></li>
                            <li><a class="textdec-none" ng-click="priceRange(50,100)"><i class="fa fa-inr"></i> 50 - <i class="fa fa-inr"></i> 100</a></li>
                            <li><a class="textdec-none" ng-click="priceRange(100,250)"><i class="fa fa-inr"></i> 100 - <i class="fa fa-inr"></i> 250</a></li>
                            <li><a class="textdec-none" ng-click="priceRange(250,500)"><i class="fa fa-inr"></i> 250 - <i class="fa fa-inr"></i> 500</a></li>
                            <li><a class="textdec-none" ng-click="priceRange(500,null)"> Over <i class="fa fa-inr"></i> 500</a></li>
                        </ul>
                        <table class="p-left10">
                            <tr>
                                <td><i class="fa fa-inr"></i></td>
                                <td><input type="number" ng-model="minPrice" min="1" class="budget-input"></td>
                                <td>&nbsp; to &nbsp;<i class="fa fa-inr"></i></td>
                                <td><input type="number" ng-model="maxPrice" min="1" class="budget-input"></td>
                                <td><button type="button" class="btn btn-xs btn-theme hover-effects f-bold color-fff p-left10 p-right10" ng-click="filterByFlavourAndBrand()" style="font-size: 15px;margin-left: 3px">GO</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <div class="clearfix visible-block"></div>
        <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="!dataAvailable">
                <h2>Products Not Available In This Category</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="product in products track by $index">
                <div class="product-catelogue">
                    <div class="product-catelogueimg pos-relative cursor-pointer" ng-click="productDescription(product.id)">
                        <img src="{{product.imageUrl}}" alt="{{product.name}}" data-toggle="modal" data-target="#productPopUp" data-backdrop="static" data-keyboard="false" class="img-responsive" />
                    </div>
                    <div class="product-catelogueicon pos-absolute">
                        <a ng-click="addToFavourites(product,'Item')" title="Add To Favourites"><img src="../images/favourite_disable.png" /></a>
                    </div>
                    <div class="product-cateloguename color-theme text-center f-bold text-capitalize" data-toggle="modal" data-target="#productPopUp" data-backdrop="static" data-keyboard="false" ng-click="productDescription(product.id)">
                        {{product.name}}
                    </div>
                    <div class="product-catelogueprice p-left10 p-right10">
                        <div class="d-table">
                            <div class="d-tbcell v-middle p-left10">
                                <i class="fa fa-rupee"></i>
                                <span class="f-bold">{{product.price}}</span>
                            </div>
                            <div class="d-tbcell v-middle p-right10">
                                <form id='myform' method='POST' action='#'>
                                    <input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease',product.id)" />
                                    <input type='text' readonly id="{{product.id}}" min="1" name='quantity' value='1' class='qty'/>
                                    <input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase',product.id)" />
                                </form>
                            </div>
                        </div>
                        <button class="btn btn-default add-tocart" ng-click="cartItems(product)">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>

<!----- selected Item ---->
<div id="productPopUp" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <!--<button type="button" class="back">Back</button>-->
            </div>
            <div class="modal-body">
                <div class="product-listdetails">
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-4 col-md-6 col-sm-6 col-xs-12">
                            <img src="{{productDescriptionData.imageUrl}}" class="img-responsive inner-img" />
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-productdetails">
                            <div class="color-theme f-bold text-capitalize f-size16 text-left">{{productDescriptionData.name}}</div>
                                <div class="color-theme f-bold text-capitalize f-size14 text-left">( {{productDescriptionData.brand.name}} )</div>
                                <div class="form-group div-disable m-tb20">
                                <div ng-init="rating = 4"></div>
                                <div class="star-rating" star-rating rating-value="4"
                                     data-max="5"></div>
                                    <div class="f-size12 color-444 f-bold">(5 customers review)</div>
                                    </div>
                            <div class="product-catelogueprice">
                                <div class="d-table text-left nopadding">
                                    <div class="d-tbcell v-middle">
                                        <i class="fa fa-rupee p-right10"></i>
                                        <span class="f-bold">{{productDescriptionData.price}}</span>
                                    </div>
                                    <div class="d-tbcell v-middle">
                                        <form id='myform' method='POST' action='#'>
                                            <input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease','descDialog_'+productDescriptionData.id)" />
                                            <input type='text' readonly id="descDialog_{{productDescriptionData.id}}" min="1" name='quantity' value='1' class='qty'/>
                                            <input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase','descDialog_'+productDescriptionData.id)" />
                                        </form>
                                    </div>
                                </div>
                                <p class="f-size12">{{productDescriptionData.description}}</p>
                            </div>
                                <button class="btn btn-default add-tocart btn-block btn-lg" ng-click="cartItems(productDescriptionData,'descDialog')">Add to cart</button>
                            </div>
                            <div ng-controller="reviewController">
                                <button ng-show="!showReviewForm" class="btn btn-default btn-lg m-tb20 text-center btn-block" ng-click="openReviewForm(productDescriptionData.id)">Rate This</button><br>
                                <div ng-show="reviewErrorMessage" class="alert alert-success text-center">
                                    <div class="m-btm20 f-size14">Please Login to Review This Product</div><button class="btn btn-default text-center" ng-click="redirectLogin()">Login</button></div>
                                <div ng-show="showReviewForm" class="border-1px p-all20">
                                    <!--<a class="close" data-dismiss="modal" aria-label="close">&times;</a>-->
                                    <!--<form id="reviewForm" role="form" ng-submit="">-->
                                        <div class="form-group">
                                            <label for="">Comment</label>
                                            <textarea id="reviewText" ng-init="" rows="4" cols="50" ng-model="reviewComment" placeholder="Type Your Review" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div ng-init="rating = 1"></div>
                                            <div class="star-rating" star-rating rating-value="rating"
                                                 data-max="5" on-rating-selected="rateFunction(rating)"></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <button type="submit" class="btn btn-default add-tocart" ng-click="addReview(productDescriptionData.id,reviewComment,'Item')">Add Review</button>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <button class="btn btn-default" ng-click="cancelReview()">Cancel</button>
                                            </div>
                                        </div>
                                    <!--</form>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-listdesc">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a data-toggle="tab" data-target="#sectionA" class="cursor-pointer">Description</a></li>
                                    <li><a data-toggle="tab" data-target="#sectionB" class="cursor-pointer">Reviews</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="sectionA" class="tab-pane fade in active p-all20">
                                        {{productDescriptionData.description}}
                                    </div>
                                    <div id="sectionB" class="tab-pane fade p-all20">

                                        <div class="row">
                                            <br>
                                            <div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="!reviewAvailable">
                                                <h2>Reviews Not Available For This Product</h2>
                                            </div>
                                            <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 panel p-all20" ng-repeat="reviews in productReview" style="border-radius: 15px" ng-show="reviewAvailable"><br>
                                                <div class="row">
                                                    <div class="col-lg-1">
                                                    <img class="img-circle pull-left m-right20" src="/images/avatar.png" width="50px" height="50px">
                                                    </div>
                                                    <div class="col-lg-11 form-group div-disable">
                                                        <h4>&nbsp; <b>{{reviews.userName}}</b></h4>
                                                        <div ng-init="rating = reviews.rating"></div>
                                                        <div class="star-rating" star-rating rating-value="reviews.rating"
                                                             data-max="5"></div>
                                                        <span class="m-review wrap-review">{{reviews.feedback}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-listpopup">
                    <div class="row">

                        <ul class="nav nav-tabs" id="myTab1">
                            <li class="active"><a data-toggle="tab" data-target="#sectionAa" class="cursor-pointer">Yummy {{productDescriptionData.category.name}}</a></li>
                            <li><a data-toggle="tab" data-target="#sectionBb" class="cursor-pointer">More Cremeville Fantasies</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionAa" class="tab-pane fade in active">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="suggestion in sameBrandSuggestion track by $index" ng-if="$index<4">
                                        <div class="product-catelogue">
                                            <div class="product-catelogueimg pos-relative cursor-pointer">
                                                <img src="{{suggestion.imageUrl}}"  data-toggle="modal" data-target="#productPopUp" class="img-responsive" />
                                            </div>
                                            <div class="product-catelogueicon pos-absolute">
                                                <img src="../images/favourite_disable.png" />
                                            </div>
                                            <div class="product-cateloguename color-theme text-center f-bold text-capitalize">
                                                {{suggestion.name}}
                                            </div>
                                            <div class="product-catelogueprice">
                                                <div class="d-table">
                                                    <div class="d-tbcell v-middle">
                                                        <i class="fa fa-rupee p-right10"></i>
                                                        <span class="f-bold">{{suggestion.price}}</span>
                                                    </div>
                                                    <div class="d-tbcell v-middle">
                                                        <form id='myform' method='POST' action='#'>
                                                            <input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease','descDialog_'+suggestion.id)" />
                                                            <input type='text' readonly id="descDialog_{{suggestion.id}}" min="1" name='quantity' value='1' class='qty'/>
                                                            <input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase','descDialog_'+suggestion.id)" />
                                                        </form>
                                                    </div>
                                                </div>
                                                <button class="btn btn-default add-tocart" ng-click="cartItems(suggestion,'descDialog')">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="sectionBb" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-repeat="suggestion in cremevilleSuggestion track by $index" ng-if="$index<4">
                                        <div class="product-catelogue">
                                            <div class="product-catelogueimg pos-relative cursor-pointer">
                                                <img src="{{suggestion.imageUrl}}" class="img-responsive" />
                                            </div>
                                            <div class="product-catelogueicon pos-absolute">
                                                <img src="../images/favourite_disable.png" />
                                            </div>
                                            <div class="product-cateloguename color-theme text-center f-bold text-capitalize d-table">
                                                <div class="d-tbcell v-middle">{{suggestion.name}}</div>
                                            </div>
                                            <div class="product-catelogueprice">
                                                <div class="d-table">
                                                    <div class="d-tbcell v-middle">
                                                        <i class="fa fa-rupee p-right10"></i>
                                                        <span class="f-bold">{{suggestion.price}}</span>
                                                    </div>
                                                    <div class="d-tbcell v-middle">
                                                        <form id='myform' method='POST' action='#'>
                                                            <input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease','descDialog_'+suggestion.id)" />
                                                            <input type='text' readonly id="descDialog_{{suggestion.id}}" min="1" name='quantity' value='1' class='qty'/>
                                                            <input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase','descDialog_'+suggestion.id)" />
                                                        </form>
                                                    </div>
                                                </div>
                                                <button class="btn btn-default add-tocart" ng-click="cartItems(suggestion,'descDialog')">Add to cart</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!----- selected Item ---->