	<!---- all tabs content ---->
	<div>
		<div class="tabs-details m-top60">
			<div class="container">
				<div class="tabs-detailsinner">
					<div class="row">
						<div class="f-bold">
							<h2 class="color-444">Terms Of Use</h2>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-justify">
							<ol>
								<li>
									<p>
							These terms of use (the "Terms of Use") govern your use of our website www.Cremeville.com (the "Website") and our "Cremeville" application for mobile and handheld devices (the "App"). The Website and the App are jointly referred to as the "Services"). Please read these Terms of Use carefully before you download, install or use the Services. If you do not agree to these Terms of Use, you may not install, download or use the Services. By installing, downloading or using the Services, you signify your acceptance to the Terms of Use and Privacy Policy (being hereby incorporated by reference herein) which takes effect on the date on which you download, install or use the Services, and create a legally binding arrangement to abide by the same.
								</p>
								</li>
								<li>
								<p>
							The Services is operated and owned by M/s Scoopy (hereinafter referred to as "Cremeville", "we", "us" or "our"), a Partnership firm registered in Pune.
									</p>
								</li>
								<li>
									<p>
									We reserve the right to change the Terms of Use and Privacy Policy at any time without notice posting changes on the Website or App and you shall be liable to update yourself of such changes, if any, by accessing the changes on the Website or App. You shall, at all times, be responsible for regularly reviewing the Terms of Use and the Privacy Policy and note the changes made on the Website or App. Your continued usage of the Services after any change is posted constitutes your acceptance of the amended Terms of Use and Privacy Policy.
									</p>
								</li>
								<li>
							<b>How it works</b><br>
									<p>

									We are an online and telephone order service provider providing you an online platform or telephone number to
									<ol type="a">
										<li>
											order products online or through call from the list of products available ("Sales").
										</li>
										<li>
											pre-pay for your order by banking channels made available to you on the Services or paying for your order by debit or credit card or cash at the time of us at the time of delivery to your given delivery address by us or our delivering partner.
										</li>
									</ol>
									</p>
								</li>
								<li>
									<b>Account Registration or use of the Services</b>
									<p>
									<ol type="a">
										<li>
											You may access the Services either by
										</li>
											<ol type="I">
												<li>
													signing in as a guest.
												</li>
												<li>
													registering to create an account ("Cremeville Account") and become a member ("Member").
												</li>
												<li>
													you can also register to join by logging into your account with certain third party social networking sites ("SNS") (including, but not limited to, Facebook,Google+), each such account, a "Third Party Account", via our Services, as described below. As part of the functionality of the Services, you may link your Cremeville Account with Third Party Accounts, by either:
												</li>
											</ol>
									<ol type="i">
										<li>
											Providing your Third Party Account login information to us through the Services, or
										</li>
										<li>
											Allowing us to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account.
										</li>
									</ol>
							<li>
								You represent that you are entitled to disclose your Third Party Account login information to us and/or grant us access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating us to pay any fees or making us subject to any usage limitations imposed by such third party service providers.
							</li>
							<li>
								By granting us access to any Third Party Accounts, you understand that we will access, make available and store (if applicable) any content or information that you have provided to and stored in your Third Party Account ("SNS Content") so that it is available on and through the Services via your Cremeville Account.
							</li>
							<li>
								Unless otherwise specified in these Terms of Use, all SNS Content, if any, will be considered to be your content for all purposes of these Terms.
							</li>
							<li>
								Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts will be available on and through your Cremeville Account on the Services.
							</li>
							<li>
								We will create your Cremeville Account for your use of the Services based upon the personal information you provide to us or that we obtain via an SNS as described above.
							</li>
							<li>
								You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete.
							</li>
							<li>
								We reserve the right to suspend or terminate your Cremeville Account and your access to the Services if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete.
							</li>
							<li>
								You are responsible for safeguarding your password. You agree that you will not disclose your password to any third party and that you will take sole responsibility for any activities or actions under your Cremeville Account, whether or not you have authorized such activities or actions. You will immediately notify us of any unauthorized use of your Cremeville Account.
							</li>
							<li>
								Goods and services purchased from the Services are intended for your personal use and you represent that the same are not for resale or you are not acting as an agent for other parties.
							</li>
								</ol>
							</p>
								</li>
							<li>
								<b>Bookings and Financial Terms</b><br>
								<p>
								<ol type="a">
									<li>
										The Services allows you to make order bookings and we will, subject to the terms and conditions set out herein, shall arrange to deliver the same to you.
									</li>
									<li>
										You understand that any order that you place shall be subject to the restrictions and limitations set out in this 'Terms of Use' including, but not limited to, product availability and delivery location.
									</li>
									<li>
										All orders made are treated as confirmed.
									</li>
									<li>
										However, upon your successful completion of booking an order, we shall send you notification on the mobile number or email ID provided to confirm the details of the order, the price to be paid. For this purpose, you will be required to share certain information with us, including but not limited to (i) the first and last name (ii) mobile number; and (iii) email address. It shall be your sole responsibility to bring any incorrect details to our attention.
									</li>
									<li>
										In addition to the foregoing, we may also contact you by phone and / or email to inform and confirm any change in the order, due to non-availability or change in price of the order. At this time any change of the order shall be treated as final and we will send you an email confirming the change in order. It is clarified that in the event you are unavailable on the phone at the time we are changing the order, we will cancel your order and the provisions of the cancellation and refund policy below shall be applicable.
									</li>
									<li>
										You can pay by credit card or debit card or net banking at the time of booking an order or you can pay by cash at the time of delivery.
									</li>
									<li>
										You agree to pay us for the total amount for any booking made. We will collect the total amount in accordance with the terms and conditions of these Terms of Use and the pricing terms set forth in the applicable product listing for the particular product. Please note that we cannot control any amount that may be charged to you by your bank related to our collection of the total amount, and we disclaim all liability in this regard.
									</li>
									<li>
										In connection with your order, you will be asked to provide customary billing information such as name, billing address and credit/debit card information either to us or our third party payment processor. You agree to pay us for any confirmed bookings in accordance with these Terms by one of the methods described on the Services - e.g. by a credit card. You hereby authorize the collection of such amounts by charging the credit card provided as part of requesting the booking, either directly by us or indirectly, via a third party online payment processor or by one of the payment methods described on the Services. If you are directed to our third party payment processor, you may be subject to terms and conditions governing use of that third party's service and that third party's personal information collection practices. Please review such terms and conditions and privacy policy before using the services. Once you're confirmed booking transaction is complete you will receive a confirmation email summarizing your confirmed booking.
									</li>
								</ol>
								</p>
								</li>
								<li>

							<b>Cancellations and Refunds</b>

							<b>7.1 Cancellation</b><br>

							<ol type="a">
								<li>
									As a general rule you shall not be entitled to cancel your order once you have received confirmation of the same.
								</li>
								<li>
									However, in the unlikely event of an item on your order being unavailable, we will contact you on the phone number provided to us at the time of placing the order and inform you of such non-availability. In such an event you will be entitled to cancel the entire order and shall be entitled to a refund in accordance with our refund policy.
								</li>
								<li>
									We reserve the sole right to cancel your order in the following circumstance:
								</li>
							</ol>

							<ol class="col-lg-offset-1" type="i">
								<li>
									In the event of the designated address following outside the delivery zone offered by us:
								</li>
								<li>
									Failure to contact you by phone or email at the time of confirming the change in order booking;
								</li>
								<li>
									Failure to deliver your order due to lack of information, direction or authorization from you at the time of delivery; or
								</li>
								<li>
									Non-availability of all the items ordered by you at the time of booking the order; or
								</li>
								<li>
									Failure due to reasons beyond our control or attributable to the Vendor.
								</li>
							</ol>

							<b>7.2  Refunds</b><br>

							<ol type="a">
								<li>
									You shall be entitled to a refund only if you pre-pay for your order at the time of placing your order on the Services and only in the event of any of the following circumstances:
								</li>
									<ol type="i">
										<li>
											Your order packaging has been tampered or damaged at the time of delivery;
										</li>
										<li>
											Us cancelling your order due to
											<ol type="A">
												<li>
													your delivery location following outside our designated delivery zones
												</li>
												<li>
													failure to contact you by phone or email at the time of confirming the change in order booking
												</li>
											</ol>
										<li>
											You cancelling the order at the time of confirmation due to unavailability of the items you ordered for at the time of booking.
										</li>
									</ol>
								<li>
									Our decision on refunds shall be at our sole discretion and shall be final and binding
								</li>
								<li>
									All refund amounts shall be credited to your account within 3-4 business days in accordance with the terms that may be stipulated by the bank which has issued the credit / debit card.
								</li>
							</ol>

							<b>7.3	 In case of payment at the time of delivery, you will not be required to pay for:</b><br>
								<ol type="a">
									<li>
										Orders where the packaging has been tampered or damaged by us;
									</li>
									<li>
										Wrong order being delivered; or
									</li>
									<li>
										Items missing from your order at the time of delivery.
									</li>
								</ol>
								</p>
							</li>
							<li>

							Terms of service

							a.	You agree and acknowledge that we shall not be responsible for:
								i.	The availability or non-availability of certain items on the Products menu.

							b.	You may not be able to avail our Services if your delivery location is outside our current scope of Service. We will keep you informed of the same at the time of confirming your order booking

							c.	You understand that delivery periods quoted to you at the time of confirming the order is an approximate estimate and may vary. We will not be responsible for any delay in the delivery of your order.
							d.	You order will delivered only to the address designated by you at the time of placing the order on the Services. We reserve the right to cancel the order, in our sole discretion, in the event of any change of the place of delivery and you shall not be entitled to any refund for the same. Delivery in the event of change of the delivery location shall be at our sole discretion.
							e.	You shall undertake to provide adequate directions, information and authorisations to accept delivery. In the event of any failure to accept delivery, failure to deliver within the estimated time due to your failure to provide appropriate instructions, or authorizations, then such goods shall be deemed to have been delivered to you and all risk and responsibility in relation to such goods shall pass to you and you shall not be entitled to any refund for the same. Our decision in relation to this shall be final and binding.
							f.	You understand that our liability ends once your order has been delivered to you.
							g.	We do not offer any refunds against goods already purchased from the Services unless an error that is directly attributable to us has occurred during the purchase of such product or services
							h.	We constantly strive to provide you with accurate information on the Services. However, in the event of an error, we may, in our sole discretion, contact you with further instructions
							i.	If you use the Services, you do the same at your own risk.
							i.	You agree that the Services shall be provided by us only during the working hours of the relevant Sales.
							j.	Services provided:
							I.	You confirm that we shall not be responsible for any deficiency in payment of consideration payable towards the goods purchased from the Services.
							II.	Each purchase on the Service shall contain necessary instructions to redeem the Services. The terms of the services shall be governed by these Terms of Use and any other terms as set out in such document confirm such sale of service. You shall not be entitled to receive any credit, refund or cash back for the value of the goods sold if you fail to redeem the goods within the expiry date or in accordance with the terms therein.
							III.	You agree and acknowledge that neither us nor our delivery partner shall be liable in the event of you failing to adhere to the Terms of Use.
							IV.	You might be required to provide your credit or debit card details to the approved payment gateways while making the payment. In this regard you agree to provide correct and accurate credit/ debit card details to the approved payment gateways for availing the Services. You shall not use the credit/ debit card which is not lawfully owned by you, i.e. in any transaction, you must use your own credit/ debit card. The information provided by you will not be utilized or shared with any Third Party unless required in relation to fraud verifications or by law, regulation or court order. You will be solely responsible for the security and confidentiality of your credit/ debit card details. We expressly disclaim all liabilities that may arise as a consequence of any unauthorized use of your credit/ debit card.
									</p>
								</li>
								<li>


							9. Endorsements

							a)	We do not endorse any Brands. In addition, although these Terms require you to provide accurate information, we do not attempt to confirm, and do not confirm, any your purported identity. We will not be responsible for any damage or harm resulting from your interactions with other Members

							b)	By using the Services, you agree that any legal remedy or liability that you seek to obtain for acts of commission or omissions of other Members or other third parties will be limited to a claim against the particular Members or other third parties who caused you harm and you agree not to attempt to impose liability on, or seek any legal remedy from us with respect to such acts of commission or omissions
									</p>
								</li>
								<li>

							10. General terms of use

							a.	Only individuals who are 18 years of age or older may use the Services. If you are under 18 years of age and you wish to download, install, access or use the Services, your parents or legal guardian must acknowledge and agree to the Terms of Use and Privacy Policy. Should your parents or legal guardian fail to agree or acknowledge the Terms of Use and Privacy Policy, you shall immediately discontinue its use.
							b.	If you choose to use the Services, it shall be your responsibility to treat your user identification code, password and any other piece of information that we may provide as part of our security procedures as confidential and not disclose the same to any person or entity other than us ("Third Party"). We shall at times and at our sole discretion reserve the right to disable any user identification code or password if you have failed to comply with any of the provisions of these Terms of Use
							c.	As we are providing services in the city of Pune, we have complied with applicable laws of India in making the Services and its content available to you. In the event the Services are accessed from outside India or outside our delivery zones, it shall be entirely at your risk. We make no representation that the Services and its contents are available or otherwise suitable for use outside Pune. If you choose to access or use the Services from or in locations outside Pune, you do so on your own and shall be responsible for the consequences and ensuring compliance of applicable laws, regulations, byelaws, licenses, registrations, permits, authorisations, rules and guidelines.
							d.	You shall at all times be responsible for the use of the Services through your computer or mobile device and for bringing these Terms of Use and Privacy Policy to the attention of all such persons accessing the Services on your computer or mobile device
							e.	You understand and agree that the use of the Services does not include the provision of a computer or mobile device or other necessary equipment to access it. You also understand and acknowledge that the use of the Services requires internet connectivity and telecommunication links. You shall bear the costs incurred to access and use the Services and we shall not, under any circumstances whatsoever, be responsible or liable for such costs.
							f.	You agree to receive promotional SMS's from Cremeville or allied partners. In case you wish to opt out of receiving promotional SMS's please send a mail to support@Cremeville.com.
							g.	By using the Services you represent and warrant that:
							I.	All registration information you submit is truthful, lawful and accurate and that you agree to maintain the accuracy of such information.
							II.	Your use of the Services shall be solely for your personal use and you shall not authorize others to use your account, including your profile or email address and that you are solely responsible for all content published or displayed through your account, including any email messages, and your interactions with other users and you shall abide by all applicable local, state, national and foreign laws, treaties and regulations, including those related to data privacy, international communications and the transmission of technical or personal data
							III.	You will not submit, post, upload, distribute, or otherwise make available or transmit any content that: (a) is defamatory, abusive, harassing, insulting, threatening, or that could be deemed to be stalking or constitute an invasion of a right of privacy of another person; (b) is bigoted, hateful, or racially or otherwise offensive; (c) is violent, vulgar, obscene, pornographic or otherwise sexually explicit; (d) is illegal or encourages or advocates illegal activity or the discussion of illegal activities with the intent to commit them
							IV.	All necessary licenses, consents, permissions and rights are owned by you and there is no need for any payment or permission or authorization required from any other party or entity to use, distribute or otherwise exploit in all manners permitted by these Terms of Use and Privacy Policy, all trademarks, copyrights, patents, trade secrets, privacy and publicity rights and / or other proprietary rights contained in any content that you submit, post, upload, distribute or otherwise transmit or make available.
							V.	You will not (a) use any services provided by the Services for commercial purposes of any kind, or (b) advertise or sell any products, services or otherwise (whether or not for profit), or solicit others (including, without limitation, solicitations for contributions or donations) or use any public forum for commercial purposes of any kind. In the event you want to advertise your product or service contact sales@Cremeville.com.
							VI.	You will not use the Services in any way that is unlawful, or harms us or any other person or entity, as determined in our sole discretion
							VII.	You will not post, submit, upload, distribute, or otherwise transmit or make available any software or other computer files that contain a virus or other harmful component, or otherwise impair or damage the Services or any connected network, or otherwise interfere with any person or entity's use or enjoyment of the Services
							VIII.	You will not use another person's username, password or other account information, or another person's name, likeness, voice, image or photograph or impersonate any person or entity or misrepresent your identity or affiliation with any person or entity
							IX.	You will not engage in any form of antisocial, disrupting, or destructive acts, including "flaming," "spamming," "flooding," "trolling," and "grieving" as those terms are commonly understood and used on the Internet
							X.	You will not delete or modify any content of the Services, including but not limited to, legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos, that you do not own or have express permission to modify
							XI.	You will not post or contribute any information or data that may be obscene, indecent, pornographic, vulgar, profane, racist, sexist, discriminatory, offensive, derogatory, harmful, harassing, threatening, embarrassing, malicious, abusive, hateful, menacing, defamatory, untrue or political or contrary to our interest
							XII.	You shall not access the Services without authority or use the Services in a manner that damages, interferes or disrupts:
							a)	any part of the Services or the Services software; or
							b)	any equipment or any network on which the Services is stored or any equipment of any Third Party
									</p>
								</li>
								<li>

							11.  Access to the Services, Accuracy and security

							a.	We endeavor to make the Services available to during working hours. However, we do not represent that access to the Services will be uninterrupted, timely, error free, free of viruses or other harmful components or that such defects will be corrected
							b.	We do not warrant that the Services will be compatible with all hardware and software which you may use. We shall not be liable for damage to, or viruses or other code that may affect, any equipment (including but not limited to your mobile device), software, data or other property as a result of your download, installation, access to or use of the Services or your obtaining any material from, or as a result of using, the Services. We shall also not be liable for the actions of third parties
							c.	We reserve the right to suspend or withdraw access to the Services to you personally, or to all users temporarily or permanently at any time without notice with or without ascribing reasons for the same
									</p>
								</li>
								<li>

							12. Relationship with operators if the Services is accessed on mobile devices

							a.	In the event the Services is accessed on a mobile device, it is not associated, affiliated, sponsored, endorsed or in any way linked to any platform operator, including, without limitation, Apple, Google, Android or RIM Blackberry (each being an "Operator").
							b.	Your download, installation, access to or use of the Services is also bound by the terms and conditions of the Operator
							c.	You and we acknowledge that these Terms of Use are concluded between you and us only, and not with an Operator, and we, not those Operators, are solely responsible for the Services and the content thereof to the extent specified in these Terms of Use
							d.	The license granted to you for the Services is limited to a non-transferable license to use the Services on a mobile device that you own or control and as permitted by these Terms of Use
							e.	We are solely responsible for providing any maintenance and support services with respect to the Services as required under applicable law. You and we acknowledge that an Operator has no obligation whatsoever to furnish any maintenance and support services with respect to the Services
							f.	You and we acknowledge that we, not the relevant Operator, are responsible for addressing any claims of you or any Third Party relating to the Services or your possession and/or use of the Services, including, but not limited to: (i) any claim that the Services fails to conform to any applicable legal or regulatory requirement; and (ii) claims arising under consumer protection or similar legislation
							g.	You and we acknowledge that, in the event of any Third Party claim that the Services or your possession and use of the Services infringes that Third Party's intellectual property rights, we, not the relevant Operator, will be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim
							h.	You must comply with any applicable Third Party terms of agreement when using the Services (e.g. you must ensure that your use of the Services is not in violation of your mobile device agreement or any wireless data service agreement).
							i.	You and we acknowledge and agree that the relevant Operator, and that Operator's subsidiaries, are Third Party beneficiaries of these Terms of Use, and that, upon your acceptance of these Terms of Use, that Operator will have the right (and will be deemed to have accepted the right) to enforce these Terms of Use against you as a Third Party beneficiary thereof.
									</p>
								</li>
								<li>

							13. Disclaimers

							a.	The services may be under constant upgrades, and some functions and features may not be fully operational
							b.	Due to the vagaries that can occur in the electronic distribution of information and due to the limitations inherent in providing information obtained from multiple sources, there may be delays, omissions, or inaccuracies in the content provided on the services or delay or errors in functionality of the services. As a result, we do not represent that the information posted is correct in every case
							c.	We expressly disclaim all liabilities that may arise as a consequence of any unauthorized use of credit/ debit cards.
							d.	You acknowledge that third party services are available on the services. We may have formed partnerships or alliances with some of these third parties from time to time in order to facilitate the provision of certain services to you. However, you acknowledge and agree that at no time are we making any representation or warranty regarding any third party's services nor will we be liable to you or any third party for any consequences or claims arising from or in connection with such third party including, and not limited to, any liability or responsibility for, death, injury or impairment experienced by you or any third party. You hereby disclaim and waive any rights and claims you may have against us with respect to third party's / sales services.
							e.	While the materials provided on the services were prepared to provide accurate information regarding the subject discussed, the information contained in these materials is being made available with the understanding that we make no guarantees, representations or warranties whatsoever, whether expressed or implied, with respect to professional qualifications, expertise, quality of work or other information herein. Further, we do not, in any way, endorse any service offered or described herein. In no event shall we be liable to you or any third party for any decision made or action taken in reliance on such information
							f.	The information provided hereunder is provided "as is". We and / or our employees make no warranty or representation regarding the timeliness, content, sequence, accuracy, effectiveness or completeness of any information or data furnished hereunder or that the information or data provided hereunder may be relied upon. Multiple responses may usually be made available from different sources and it is left to the judgement of users based on their specific circumstances to use, adapt, modify or alter suggestions or use them in conjunction with any other sources they may have, thereby absolving us as well as our consultants, business associates, affiliates, business partners and employees from any kind of professional liability
							g.	We shall not be liable to you or anyone else for any losses or injury arising out of or relating to the information provided on the services. In no event will we or our employees, affiliates, authors or agents be liable to you or any third party for any decision made or action taken by your reliance on the content contained herein
							h.	In no event will we be liable for any damages (including, without limitation, direct, indirect, incidental, special, consequential or exemplary damages, damages arising from personal injury/wrongful death, and damages resulting from lost profits, lost data or business interruption), resulting from any services provided by any third party or vendor accessed through the services, whether based on warranty, contract, tort, or any other legal theory and whether or not we are advised of the possibility of such damages
									</p>
								</li>
								<li>

							14. Intellectual property

							a.	We are the owner or the licensee of all intellectual property rights in the Services, and in the material published on it.  Those works are protected by copyright laws and treaties around the world.  All such rights are reserved
							b.	You may print off one copy, and may download extracts, of any page(s) from the Services or our website for your personal reference and you may draw the attention of others within your organisation to material available on the Services.
							c.	You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
							d.	You must not use any part of the materials on the Services for commercial purposes without obtaining a licence to do so from us or our licensors.
							e.	If you print off, copy or download any part of the Services in breach of these Terms of Use, your right to use the Services will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.
									</p>
								</li>
								<li>

							15. Treatment of information provided by you

							a.	We process information about you in accordance with our Privacy Policy
							b.	You hereby grant to us an irrevocable, royalty-free, worldwide, assignable, sub-licensable licence to use any material which you submit to us on the Services for the purpose of use on the Services or for our generally marketing (by any means and in any media, including, but not limited to, on our website or in our journals) our services.
									</p>
								</li>
								<li>

							16.  Third Party Content

							a.	We cannot and will not assure that other users are or will be complying with the foregoing rules or any other provisions of this Terms of Use, and, as between you and us, you hereby assume all risk of harm or injury resulting from any such lack of compliance.
							b.	You acknowledge that when you access a link that leaves the Services, the site you will enter into is not controlled by us and different terms of use and privacy policy may apply. By assessing links to other sites, you acknowledge that we are not responsible for those sites. We reserve the right to disable links to and / or from third-party sites to the Services, although we are under no obligation to do so.
									</p>
								</li>
								<li>

							17. Severability

							If any of these terms should be determined to be illegal, invalid or otherwise unenforceable by reason of the laws of any state or country in which these terms are intended to be effective, then to the extent and within the jurisdiction which that term is illegal, invalid or unenforceable, it shall be severed and deleted and the remaining Terms of Use shall survive, remain in full force and effect and continue to be binding and enforceable.
									</p>
								</li>
								<li>

							18. Non-assignment

							You shall not assign or transfer or purport to assign or transfer the contract between you and us to any other person.
									</p>
								</li>
								<li>

							19. Governing law and dispute resolution

							These Terms of Use are governed by the laws of India. Any action, suit, or other legal proceeding, which is commenced to resolve any matter arising under or relating to this website, shall be subject to the jurisdiction of the courts at Pune, India
									</p>
							</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editProfile" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="profileInfo" role="form" ng-submit="updateProfileInfo()">
										<div class="form-group">
											<label for="">Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.name" value="{{userInfo.name}}" placeholder="Name">
										</div>
										<!--<div class="form-group">
											<label>Last Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.lastName" value="{{userInfo.lastName}}" placeholder="Last Name">
										</div>
										<div class="form-group">
											<label for="">Email</label>
											<input type="email" class="form-control" maxlength="30" ng-model="userInfo.email" value="{{userInfo.email}}" placeholder="Email">
										</div>-->
										<div class="form-group">
											<label for="">Mobile Number</label>
											<input type="text" readonly class="form-control" min="7000000000" max="9999999999" maxlength="10" ng-model="userInfo.phone" value="{{userInfo.phone}}" placeholder="Mobile Number">
										</div>
										<!--<div class="form-group">
											<label for="">Birth Date</label>
											<input type="text" class="form-control" maxlength="10" ng-model="userInfo.birthDate" value="{{userInfo.birthDate}}" placeholder="Birth Date">
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editAddress" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="contact-details" role="form" ng-submit="updateAddress()">
										<div class="form-group" ng-show="!hideType">
											<label for=""><span class="color-red f-size18">*</span>Address Type<span ng-show="errorAddressType" class="p-left20 color-red text-center">
												This Address Type Already Exists, Please Select Another.</span></label>
											<!--<input type="text" class="form-control" ng-model="addressToEdit.type" placeholder="Type of Address" required>-->
											<select class="form-control" ng-change="checkAddressType(addressToEdit.addressType)" ng-model="addressToEdit.addressType" placeholder="Type of Address" required>
												<option value="Home"> Home </option>
												<option value="Office"> Office </option>
												<option value="Other"> Other </option>
											</select>
										</div>
										<div ng-show="!errorAddressType">
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>House No</label>
											<input type="text" class="form-control" ng-model="addressToEdit.houseNumber" placeholder="House Number" required="">
										</div>
										<div class="form-group">
											<label><span class="color-red f-size18">*</span>Address</label>
											<input name="Address" type="text" class="form-control" ng-model="addressToEdit.streetAddress" placeholder="Address" required>
										</div>
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Land Mark</label>
											<input type="text" class="form-control" ng-model="addressToEdit.landMark" placeholder="Land Mark" required>
										</div>
										<!--<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Pincode</label>
											<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="addressToEdit.pincode" placeholder="Pincode" required>
										</div>-->
										<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for=""><span class="color-red f-size18">*</span>City</label>
												<input type="text" class="form-control" ng-model="addressToEdit.city" placeholder="City" required>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Pincode</label>
												<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="addressToEdit.pincode" placeholder="Pincode (Optional)">
											</div>
										</div>
										<!--<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Country</label>
												<input type="text" class="form-control" ng-model="addressToEdit.country" placeholder="Country">
											</div>
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="removeAddress" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">

						<!-- Modal content-->
						<div class="modal-content">

							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center m-btm20">
										<h3>Are you sure, You want to delete the Address?</h3>
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-left" ng-click="removeAddress(removeAddressId)">Yes</button></div>
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---- all tabs content ---->