<script>
	$(document).ready(function () {
		$('.delivery-adds .add-address1').on("click", function() {
			$(this).addClass("active").siblings(".active").removeClass("active");
		});
	});
</script>
	<!---- all tabs content ---->
	<div>
		<div class="tabs-details m-top60">
			<div class="container">
				<div class="tabs-detailsinner">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<ul id="myTab2" class="nav nav-tabs">
							   <li>
									<a data-target = "#profile" data-toggle = "tab">
										Profile
									</a>
							   </li>
							   <!--<li>
									<a data-target = "#wallet" data-toggle = "tab">
										Wallet
									</a>
							   </li>-->
							   <li class="active">
									<a data-target = "#order_history" data-toggle = "tab">
								 		Order History
									</a>
							   </li>
							   <li>
									<a data-target = "#favourites" data-toggle = "tab">
										Favourites
									</a>
							   </li>
							   <li>
									<a data-target = "#coupans" data-toggle = "tab">
									Coupons
									</a>
							   </li>
							   <li>
									<a data-target = "#loyalty_points" data-toggle = "tab">
										My Cremee
									</a>
							   </li>
							</ul>

							<div id="myTabContent" class="tab-content ">

								<div class="tab-pane fade" id = "profile">

									<div class="col-lg-offset-4 col-lg-9 col-md-9 col-sm-12 col-xs-12">
										<div ng-show="successMessage" class="alert alert-success col-lg-6 col-md-6 col-sm-12 col-xs-12"><a class="close" data-dismiss="alert" aria-label="close">&times;</a>{{message}}</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="col-lg-9 col-md-7 col-sm-12 col-xs-12">
											<div class="user-profile">
												<div class="d-table">
													<div class="d-tbcell width-140">
														<img src="images/user1.jpg" class="img-thumbnail img-circle" />
													</div>
													<div class="d-tbcell" style="text-align: left">
														<div class="user-name text-capitalize f-bold">
															<span class="color-444">howdy</span> <span class="color-theme">{{userInfo.name}}</span>

														</div>
														<br>
														<div class="row f-bold f-size16 user-profileform">
															<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
																	<span>Name</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<span>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.name}}</span>
																</div>
															</div>
															<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
																	<span>Last Name</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<span>: {{userInfo.lastName}}</span>
																</div>
															</div>-->
															<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
																	<span>Email</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<span>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.email}}</span>
																</div>
															</div>-->
															<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
																	<span>Mobile No.</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<span>|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{userInfo.phone}}</span>
																</div>
																<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
																	<button class="btn remove-item pull-right" data-target="#editProfile" title="Edit Profile" data-toggle="modal" ng-click="orderAddressEdit(address)" style="border-radius:50px;background-color: transparent">
																		<i class="fa fa-edit fa-2x color-theme"></i>
																	</button>
																</div>
															</div>
															<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
																	<span>My Cremees</span>
																</div>
																<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
																	<span>: {{userInfo.loyalty.totalPoints}}</span>
																</div>
															</div>-->

														</div>
													</div>
												</div>
											</div>
										</div>
											</div>

										<div class="row">
											<h3 class="text-center f-bold">Manage Your Address</h3>
											<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3">
												<div ng-show="errorMessage" class="alert alert-warning">
													No Stores Available at Your Present Location. <br> Please change your location to continue.
												</div>
											</div>
											<div class="m-btm20 col-lg-offset-1 col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12 delivery-adds">
												<div class="row">
													<br>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 add-address1 active" ng-repeat="address in addressList">
														<div class="add-address">
															<div class="panel panel-default heading">
																<div class="panel-heading text-center">
																	<!-- <i class="fa fa-home color-000"></i> -->
																	<h3 class="panel-title color-fff">{{address.addressType}}</h3>
																</div>
																<div class="panel-body">
																	<a class="add-newaddress text-decnone" style="display: none;">
																		<i class="fa fa-plus-circle color-fff fa-2x" ></i>
																		<div class="f-size18 color-fff">Add Address</div>
																	</a>
																	<div class="address-area text-left color-fff">
																		{{address.houseNumber}}<br />
																		{{address.streetAddress}}<br />
																		{{address.landMark}}<br />
																		{{address.city}} - {{address.pincode}}

																	</div>
																</div>

																<div class="panel-footer">
																	<div class="row">
																		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding">
																			<button class="btn btn-danger btn-block" data-target="#editAddress" title="Edit Address" data-toggle="modal" ng-click="editAddressBook(address)">
																				<i class="fa fa-edit fa-2x color-fff"></i></button>
																		</div>
																		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 nopadding">
																			<button class="btn btn-danger btn-block" data-target="#removeAddress" title="Remove Address" data-toggle="modal" ng-click="removeAddressConfirm(address.id)" title="Remove Address">
																				<i class="fa fa-trash fa-2x"></i>
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 add-address1" ng-show="showAddAddress">
                                                        <div class="add-address">
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading text-center">

                                                                    <h3 class="panel-title color-fff"></h3>
                                                                </div>
                                                                <div class="panel-body">
                                                                    <a ng-click="addAddressForm('addNew')" ng-controller="userProfileController">
                                                                        <i class="fa fa-plus-circle color-fff fa-2x"></i>
                                                                        <div class="f-size18 color-fff">Add Address</div>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
												</div>
											</div>
										</div>
									</div>

								</div>

								<div class = "tab-pane fade" id = "wallet">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="wallet-options">
												<a href="#" class="text-decnone color-444">
													<div class="d-table full-width">
														<div class="d-tbcell v-middle width-auto f-bold f-size12 text-capitalize">citrus wallet</div>
														<div class="d-tbcell v-middle width85"><img src="images/coupan.png" /></div>
														<div class="d-tbcell v-middle width85 pull-right"><i class="fa  fa-angle-right fa-2x"></i></div>
													</div>
												</a>
											</div>
											<div  class="wallet-options">
												<a href="#" class="text-decnone color-444">
													<div class="d-table full-width">
														<div class="d-tbcell v-middle width-auto f-bold f-size12 text-capitalize">ola money</div>
														<div class="d-tbcell v-middle width85"><i class="fa fa-circle-o-notch"></i></div>
														<div class="d-tbcell v-middle width85 pull-right"><i class="fa  fa-angle-right fa-2x"></i></div>
													</div>
												</a>
											</div>
											<div class="wallet-options">
												<a href="#" class="text-decnone color-444">
													<div class="d-table full-width">
														<div class="d-tbcell v-middle width-auto f-bold f-size12 text-capitalize">card</div>
														<div class="d-tbcell v-middle width85"><i class="fa fa-circle-o-notch"></i></div>
														<div class="d-tbcell v-middle width85 pull-right"><i class="fa fa-angle-right fa-2x"></i></div>
													</div>
												</a>
											</div>
											<div class="wallet-options">
												<a href="#" class="text-decnone color-444">
													<div class="d-table full-width">
														<div class="d-tbcell v-middle width-auto f-bold f-size12 text-capitalize">net banking</div>
														<div class="d-tbcell v-middle width85"><i class="fa fa-circle-o-notch"></i></div>
														<div class="d-tbcell v-middle width85 pull-right"><i class="fa fa-angle-right fa-2x"></i></div>
													</div>
												</a>
											</div>
											<div class="wallet-options">
												<a href="#" class="text-decnone color-444">
													<div class="d-table full-width">
														<div class="d-tbcell v-middle width-auto f-bold f-size12 text-capitalize">cash on delivery address</div>
														<div class="d-tbcell v-middle width85"><i class="fa fa-circle-o-notch"></i></div>
														<div class="d-tbcell v-middle width85 pull-right"><i class="fa fa-angle-right fa-2x"></i></div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class = "tab-pane fade in active" id = "order_history">
									<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
										<ul class="list-none nopadding">
											<li  ng-show="!ordersAvailable"><div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
												<h2>There Are No Orders</h2>
											</div></li>
											<li ng-repeat="order in myOrderList | orderBy:'-createdTime' track by $index" ng-show="ordersAvailable">
												<div class="table table-bordered">
													<table class="table table-borderd nopadding list-ofItems">
														<tbody>
															<tr class="border-tnone">
																<td class="text-capitalize text-left f-bold f-size12">Order Id <br>{{order.id}}</td>
																<td colspan="10" class="text-capitalize text-right f-bold f-size12">Order Date<br> {{order.createdTime | date:"dd/MM/yyyy ',' h:mma"}}</td>
															</tr>

															<!--<tr>
																<th class="text-capitalize text-left f-bold f-size14 width-150 col-lg-8">Product</th>
																<th class="text-capitalize text-left f-bold f-size14 width-150">Qty</th>
																<th class="text-capitalize text-left f-bold f-size14 width-150">Price</th>
															</tr>-->
															<tr>

															</tr>
															<tr class="border-tnone" ng-repeat="cartListItem in order.cartItems">
																<td class="text-capitalize text-left f-bold f-size14 width-150">{{cartListItem.name}}</td>
																<td class="text-capitalize text-left f-bold f-size14 width-150 text-right"><span>{{cartListItem.quantity}}</span></td>
																<td class="text-capitalize text-right f-bold f-size14 width-150 text-right"><i class="fa fa-rupee p-right10"></i><span>{{cartListItem.total}}</span></td>
															</tr>
															<tr>
																<td class="text-capitalize f-size12 f-bold color-444 text-left">Sub Total</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right"><i class="fa fa-rupee p-right10"></i>{{order.subTotal | number:2}}</td>
															</tr>
															<!--<tr>
																<td></td>
																<td class="text-capitalize f-size12 f-bold color-444 text-left">Tax</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right"><i class="fa fa-rupee p-right10"></i>{{order.tax | number:2}}</td>
															</tr>-->
															<tr>
																<td class="text-capitalize f-size12 f-bold color-444 text-left">delivery charges</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right" ng-show="!showFreeDelivery"><i class="fa fa-rupee p-right10"></i>{{order.deliveryCharges}}</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right" ng-show="showFreeDelivery">{{order.deliveryCharges}}</td>
															</tr>
															<tr ng-if="order.loyaltyAmount > 0">
																<td class="text-capitalize f-size12 f-bold color-444 text-left">Loyalty Amount</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right"><i class="fa fa-rupee p-right10"></i>{{order.loyaltyAmount | number:2}}</td>
															</tr>
															<tr ng-if="order.couponAmount > 0">
																<td class="text-capitalize f-size12 f-bold color-444 text-left">Discount</td>
																<td colspan="2" class="text-capitalize f-bold f-size12 text-right"><i class="fa fa-rupee p-right10"></i>{{order.couponAmount | number:2}}</td>
															</tr>
															<tr>
																<td class="text-capitalize f-size14 f-bold color-theme text-left">Total Payment</td>
																<td colspan="2" class="text-capitalize f-bold color-theme text-right"><i class="fa fa-rupee p-right10"></i><span>{{order.cartValue | number:2}}</span></td>
															</tr>
															<tr class="border-tnone">
																<!--<td class="view-details ">
																	<div class="panel panel-default">
																		<div class="panel-heading" role="tab" id="headingOne">
																			<h4 class="panel-title">
																				<a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="text-capitalize f-size16 f-bold">view details
																				</a>
																			</h4>
																		</div>
																	</div>
																</td>-->
																<!--<td colspan="2" class="text-capitalize f-bold color-theme  width-150 text-right">
																	<a href="#" class="btn btn-theme text-deconone color-fff f-size16 text-capitalize">reorder</a>
																</td>-->
															</tr>

														</tbody>
													</table>
												</div>
												<!--<div id="collapseOne" class="panel-collapse collapse pos-relative" role="tabpanel" aria-labelledby="headingOne">
													<div class="arrow-icon"><i class="fa fa-caret-up fa-3x"></i></div>
													<div class="panel-body table-responsive nopadding">
														<table class="table">
															<tbody>
																<tr>
																	<td class="text-capitalize f-bold text-left">Order ID</td>
																	<td class="text-capitalize f-bold text-right">{{order.id}}</td>
																</tr>
																<tr>
																	<td class="text-capitalize f-bold text-left">date</td>
																	<td class="text-capitalize f-bold text-right">{{order.orderedDate}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>-->
											</li>
										</ul>
									</div>
								</div>
								<div class = "tab-pane fade" id = "favourites">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12" ng-show="!favouritesAvailable">
											<h2>There Are No Favourite Products</h2>
										</div>
										<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6" ng-show="favouritesAvailable" ng-repeat="product in favouritesList track by $index">
											<div class="product-catelogue">
												<div class="product-catelogueimg pos-relative" ng-click="productDescription(product.favouriteItem.id)">
													<img src="{{product.favouriteItem.imageUrl}}" data-toggle="modal" data-target="#choose-address" data-backdrop="static" data-keyboard="false" class="img-responsive" />
												</div>
												<div class="product-catelogueicon pos-absolute">
													<button class="btn remove-item" data-target="#removeFavourite" data-toggle="modal" ng-click="removeFavouriteDetails(product.id)" title="Remove From Favourites" style="border-radius:50px;background-color: transparent">
														<i class="fa fa-trash fa-2x" style="color: #F05B71;"></i>
													</button>
												</div>
												<div class="product-cateloguename color-theme text-center f-bold text-capitalize" data-toggle="modal" data-target="#choose-address" data-backdrop="static" data-keyboard="false" ng-click="productDescription(product.id)">
													{{product.favouriteItem.name}}
												</div>
												<div class="product-catelogueprice" ng-controller="productsController">
													<div class="d-table">
														<div class="d-tbcell v-middle">
															<i class="fa fa-rupee p-right10"></i>
															<span class="f-bold">{{product.favouriteItem.price}}</span>
														</div>
														<div class="d-tbcell v-middle">

																<form id='myform' method='POST' action='#'>
																<input type='button' value='-' class='qtyminus' field='quantity' ng-click="changeQuantity('decrease',product.favouriteItem.id)" />
																<input type='text' readonly id="{{product.favouriteItem.id}}" min="1" name='quantity' value='1' class='qty'/>
																<input type='button' value='+' class='qtyplus' field='quantity' ng-click="changeQuantity('increase',product.favouriteItem.id)" />
															</form>
														</div>
													</div>
													<button class="btn btn-default add-tocart" ng-click="cartItems(product.favouriteItem)">Add to cart</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class = "tab-pane fade" id = "coupans">
									<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
										<ul class="list-none nopadding">
											<!--<li  ng-show="!ordersAvailable"><div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 col-md-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
												<h2>There Are No Orders</h2>
											</div></li>-->
											<li>
												<div class="table table-bordered">
													<table class="table table-borderd nopadding list-ofItems">
														<tbody>
														<!--<tr class="border-tnone">
															<td class="text-capitalize text-left f-bold f-size12">Order Id <br>{{order.id}}</td>
															<td colspan="10" class="text-capitalize text-right f-bold f-size12">Order Date<br> {{order.createdTime | date}}</td>
														</tr>-->

														<tr>
                                                            <th class="text-capitalize text-left f-bold f-size14 width-150 col-lg-8">Coupon Code</th>
                                                            <th class="text-capitalize text-left f-bold f-size14 width-150">Description</th>
                                                            <th class="text-capitalize text-left f-bold f-size14 width-150">Value</th>
                                                        </tr>
														<tr>

														</tr>
														<tr class="border-tnone" ng-repeat="coupon in couponsList">
															<td class="text-capitalize text-left f-bold f-size14 width-150">{{coupon.code}}</td>
															<td class="text-capitalize text-left f-bold f-size14 width-150 text-right"><span>{{coupon.description}}</span></td>
															<td class="text-capitalize text-right f-bold f-size14 width-150 text-right"><span><span ng-if="coupon.unit == 'amount'"><i class="fa fa-rupee p-right10"></i></span>{{coupon.value}}<span ng-if="coupon.unit == 'percentage'">%</span></span></td>
														</tr>


														<tr class="border-tnone">
															<!--<td class="view-details ">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading" role="tab" id="headingOne">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="text-capitalize f-size16 f-bold">view details
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </td>-->
															<!--<td colspan="2" class="text-capitalize f-bold color-theme  width-150 text-right">
                                                                <a href="#" class="btn btn-theme text-deconone color-fff f-size16 text-capitalize">reorder</a>
                                                            </td>-->
														</tr>

														</tbody>
													</table>
												</div>
												<!--<div id="collapseOne" class="panel-collapse collapse pos-relative" role="tabpanel" aria-labelledby="headingOne">
													<div class="arrow-icon"><i class="fa fa-caret-up fa-3x"></i></div>
													<div class="panel-body table-responsive nopadding">
														<table class="table">
															<tbody>
																<tr>
																	<td class="text-capitalize f-bold text-left">Order ID</td>
																	<td class="text-capitalize f-bold text-right">{{order.id}}</td>
																</tr>
																<tr>
																	<td class="text-capitalize f-bold text-left">date</td>
																	<td class="text-capitalize f-bold text-right">{{order.orderedDate}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>-->
											</li>
										</ul>
									</div>
								</div>
								<div class = "tab-pane fade text-left" id = "loyalty_points">

									<div class="row">
										<div class="text-center f-bold f-size16 cremme-points m-btm20 p-all20 col-lg-offset-3 col-lg-5 col-lg-offset-3 col-md-offset-3 col-md-5 col-md-offset-3 col-sm-12 col-xs-12">
											<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
												<span>Your Cremees</span>
											</div>
											<div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
												<span>: {{userInfo.loyalty.totalPoints}}</span>
											</div>
										</div>
									</div>

									<uib-accordion close-others="oneAtATime">
										<uib-accordion-group heading="What is a Cremee?">
											Cremee is the loyalty program offered by Cremeville. Cremee is the loyalty point that a Cremeville customer earns on completing an order or other event based activity like registration. A Cremeville customer can use the earned Cremees as a payment method for future purchase. Only registered users of Cremeville can avail this program.
										</uib-accordion-group>
										<uib-accordion-group heading="How do I earn a Cremee? ">
											A Cremeville customer earns Cremees for every completed transaction or events like registration, as per the following rules
											<ul>
												<li>On Registration : 100 Cremees</li>
												<!--<li>On Referral : 100 Cremees</li>-->
												<li>Order size below Rs. 200: 5 Cremees per Rs. 100</li>
												<li>Order size between Rs. 201-399: 10 Cremees per Rs. 100</li>
												<li>Order size between Rs. 400-999: 20 Cremees per Rs. 100</li>
												<li>Order size above 999: 25 Cremees per Rs. 100</li>
											</ul>
										</uib-accordion-group>
										<uib-accordion-group heading="How do I redeem a Cremee?">
											At the time of checkout, a customer can specify Cremees to be debited. One Cremee is worth 1 paisa. A Cremee can be clubbed with existing discount coupons. In case the order gets cancelled, Cremees will be credited back to the customer account.
										</uib-accordion-group>
										<uib-accordion-group heading="Does my Cremee expire?">
											A Cremee expires after a year. For instance, the Cremees earned on 26th of Jan 2016, will expire on 26th of Jan 2017. At the time of redemption, the earlier Cremees get debited first. For instance, a customer who has earned 2000 Cremees from transactions on 26 of Jan (400 Cremees), 1st of Feb (600 Cremees) and 8th of Feb (1000 Cremees) and wants to redeem 1500 Cremees on the 14th of Feb transaction - the Cremees earned on 26th of Jan will be leveraged first followed by the one earned on 1st of Feb and then the Cremees from 8th of Feb will be leveraged.
										</uib-accordion-group>
										<uib-accordion-group heading="How much Cremee do I have?">
											A Person can know the status of Cremees by logging and going to the "My account" section. One can view the details of all transactions that helped earn and redeem Cremees.
										</uib-accordion-group>
										<uib-accordion-group heading="Can I transfer my Cremee?">
											A Cremee is tied to a user account and is non-transferable to any other account.
										</uib-accordion-group>
									</uib-accordion>

								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editProfile" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="profileInfo" role="form" ng-submit="updateProfileInfo()">
										<div class="form-group">
											<label for="">Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.name" value="{{userInfo.name}}" placeholder="Name">
										</div>
										<!--<div class="form-group">
											<label>Last Name</label>
											<input type="text" class="form-control" maxlength="30" ng-model="userInfo.lastName" value="{{userInfo.lastName}}" placeholder="Last Name">
										</div>-->
										<div class="form-group">
											<label for="">Email</label>
											<input type="email" class="form-control" maxlength="30" ng-model="userInfo.email" value="{{userInfo.email}}" placeholder="Email">
										</div>
										<div class="form-group">
											<label for="">Mobile Number</label>
											<input type="text" readonly class="form-control" min="7000000000" max="9999999999" maxlength="10" ng-model="userInfo.phone" value="{{userInfo.phone}}" placeholder="Mobile Number">
										</div>
										<!--<div class="form-group">
											<label for="">Birth Date</label>
											<input type="text" class="form-control" maxlength="10" ng-model="userInfo.birthDate" value="{{userInfo.birthDate}}" placeholder="Birth Date">
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="editAddress" tabindex="-1"  role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<!-- <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                                </button>
                                 <h4 class="modal-title" id="memberModalLabel">Thank you for signing in!</h4>
                            </div> -->

							<div class="modal-body">
								<div class="m-all20">
									<a class="close" data-dismiss="modal" aria-label="close">&times;</a>
									<form id="contact-details" role="form" ng-submit="updateAddress()">
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Address Type<span ng-show="errorAddressType" class="p-left20 color-red text-center">
												{{addressTypeError}}</span></label>
											<!--<input type="text" class="form-control" ng-model="addressToEdit.type" placeholder="Type of Address" required>-->
											<select class="form-control" ng-change="checkAddressType(addressToEdit.addressType)" ng-model="addressToEdit.addressType" placeholder="Type of Address ABCD" required>
												<option value="Home"> Home </option>
												<option value="Office"> Office </option>
												<option value="Other"> Other </option>
											</select>
										</div>
										<div ng-show="!errorAddressType">
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>House No</label>
											<input type="text" class="form-control" ng-model="addressToEdit.houseNumber" placeholder="House Number" required="">
										</div>
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Location</label>
											<input type="text" class="form-control" readonly ng-model="addressToEdit.areaName" required>
										</div>
										<div class="form-group">
											<label><span class="color-red f-size18">*</span>Address</label>
											<input name="Address" type="text" class="form-control" ng-model="addressToEdit.streetAddress" placeholder="Address" required>
										</div>
										<div class="form-group">
											<label for=""><span class="color-red f-size18">*</span>Land Mark</label>
											<input type="text" class="form-control" ng-model="addressToEdit.landMark" placeholder="Land Mark" required>
										</div>
										<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for=""><span class="color-red f-size18">*</span>City</label>
												<input type="text" class="form-control" ng-model="addressToEdit.city" placeholder="City" required>
											</div>
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Pincode</label>
												<input type="text" class="form-control" pattern="[0-9]{6}" pattern="/^[0-9]{1,6}$/" maxlength="6" title="Numbers Only.." ng-model="addressToEdit.pincode" placeholder="Pincode (Optional)">
											</div>
										</div>
										<!--<div class="row form-group">
											<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
												<label for="">Country</label>
												<input type="text" class="form-control" ng-model="addressToEdit.country" placeholder="Country">
											</div>
										</div>-->
										<div class="form-group text-center">
											<button type="submit" class="btn btn-danger text-capitalize">Save</button>
										</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="removeAddress" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">

						<!-- Modal content-->
						<div class="modal-content">

							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center m-btm20">
										<h3>Are you sure, You want to delete the Address?</h3>
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-left" ng-click="removeAddress(removeAddressId)">Yes</button></div>
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="removeFavourite" class="modal fade" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content p-all20">

							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center m-btm20">
										<div class="f-size18 m-btm20">Do you want to remove the favourite?</div>
										<div class="col-lg-offset-3 col-lg-6 col-lg-offset-3 m-btm20">
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-left" ng-click="removeFavourite()">Yes</button></div>
											<div class="col-lg-6">
												<button class="btn btn-danger btn-block pull-right" data-dismiss="modal">No</button></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="changeLocation" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content p-all20">
							<div class="modal-body text-center">
								<div class="row">
									<div class="text-center f-size18" ng-show="storeErrorAddress">
										No Stores Available at Your Present Location. <br> Please change your location to continue.<br>
										<button class="btn btn-danger btn-theme" ng-click="changeYourLocation()">Change Location</button>
									</div>

									<div class="form-horizontal" style="width: 550px" ng-show="!storeErrorAddress">
										<div class="form-group default-popup nopadding"  ng-controller="indexController">
											<div class="d-table">
												<div class="d-tbcell v-middle">
													<i class="fa fa-search search-icon"></i>
													<input type="text" id="txtAutocomplete" placeholder="Enter your address" />
													<!--<input type="text" class="form-control input-lg" id="us3-address" /></div>-->
												</div>
												<div class="d-tbcell v-middle width50 width85">
													<button class="btn btn-default text-capitalize btn-lg f-size14" ng-click="currentLocation()">Current Location
														<img src="images/location-icon.png">
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!---- all tabs content ---->