@media screen and (min-width:768px){
	#menu-header .navbar-brand-centered {
		position: absolute;
		display: block;
		width: 160px;
		text-align: center;
		background-color: #eee;
		left: 0;
		right: 0;
		margin: auto;
	}
	#menu-header .navbar>.container .navbar-brand-centered,
	#menu-header .navbar>.container-fluid .navbar-brand-centered {
		margin-left: -80px;
	}
	#menu-header .collapse.navbar-collapse { margin-top: 20px; }
	#menu-header.navbar-fixed-top .curve-image { bottom: -4px; }
	#menu-header.navbar-fixed-top.top-nav-collapse .curve-image { bottom: 7px; }
}
@media (max-width: 767px) {
	.navbar-collapse {
		background: rgba(0,0,0,.8) none repeat scroll 0 0;
		left: 20px;
		padding: 0 25px;
		position: absolute;
		right: 20px;
		border: 1px solid #f05b72 !important;
	}
	.cart-icon {
		position: fixed !important;
		top: -12px;
		right: 0px;
		z-index: 99999;
	}
	#menu-header .nav > li.dropdown, #menu-header .nav > li { margin-top: 0; }
	.navbar-toggle {
		position: absolute;
		float: right;
		padding: 9px 10px;
		margin-top: 8px;
		margin-right: 15px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
		bottom: 0;
		z-index: 99999;
		right: 0;
	}
	.navbar-default.navbar-fixed-top.top-nav-collapse .navbar-toggle {
		top: 0;
		height: 40px;

	}
	.navbar-default.navbar-fixed-top .navbar-collapse { margin-top: 130px; }
	.navbar-default.navbar-fixed-top.top-nav-collapse .navbar-collapse { margin-top: 80px; }
	.navbar-default.navbar-fixed-top.top-nav-collapse .navbar-toggle { margin-right: 80px; }
	.navbar-default.navbar-fixed-top .curve-image { margin-top: 83px; }
	.navbar-default.navbar-fixed-top.top-nav-collapse .curve-image { margin-top: 35px; }
	.default-popup .d-tbcell {
		display: block;
		width: 100%;
	}
	.default-popup .d-tbcell button {
		width: 100%;
		margin-top: 5px;
	}
	.default-popup .d-tbcell input { width: 100%; }
}
@media (max-width: 480px) {
	body .col-xs-6 { width: 100% !important; }
	#selectlocation .modal-dialog {
		margin: 0 !important;
	}
	#selectlocation .modal-content {
		padding: 20px 10px !important;
	}
}
@media (max-width: 360px) {
	.default-popup .d-tbcell input { width: 180px !important; }

}