body {
	overflow-y: scroll;
	padding: 0 !important;
}
.color-theme { color: #f05b72; }
.color-fff { color: #fff; }
.color-444 { color: #444; }
.color-ccc { color: #ccc; }
.color-red { color: #ff0000}

.pos-relative { position: relative; }
.pos-absolute { position: absolute; }
.f-bold { font-weight: bold; }

.f-size12 { font-size: 12px; }
.f-size14 { font-size: 14px; }
.f-size16 { font-size: 16px; }
.f-size18 { font-size: 18px; }

.d-table {
	display: table;
	width: 100%;
}
:focus { outline: 0 !important; }
.d-tbcell { display: table-cell; }
.v-middle { vertical-align: middle; }
.v-top { vertical-align: top; }

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.no-border{
	border: none;
}

.div-disable{
	pointer-events: none;
}

.border-1px{ border: 1px solid #ccc; }
.cursor-pointer { cursor: pointer; }
.p-left10 { padding-left: 10px; }
.p-right10 { padding-right: 10px; }
.p-left20 { padding-left: 20px; }
.p-all20{ padding:20px;}
.m-tb20 { margin: 20px auto; }
.m-btm20 { margin-bottom: 20px; }
.m-right20 { margin-right: 20px; }
.m-left20 { margin-left: 20px; }
.m-all20{ margin:20px;}
.m-tb75{ margin: 75px auto;}

.heading{
	background: #F05B71;
}
.text-justify { text-align: justify; }
.hover-effect {
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}
.hover-effect:hover, .hover-effect:focus {
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.text-decnone:hover, .text-decnone:focus { text-decoration: none; }
.list-none { list-style: none; }
.cursor-pointer { cursor: pointer; }
/******** menu ******/
.curve-image {
	background: rgba(0, 0, 0, 0) url("../images/curve1.png") repeat scroll 0 0;
	height: 25px;
	position: relative;
}
.jk-slider { position: relative; }
.curve-image1 {
	background: rgba(0, 0, 0, 0) url("../images/curvew.png") repeat scroll 0 0;
	height: 45px;
	margin-top: -24px;
	position: relative;
}
#menu-header.navbar-fixed-top.top-nav-collapse .logo-large { display: none; }
#menu-header.navbar-fixed-top .logo-min { display: none; }
#menu-header.navbar-fixed-top.top-nav-collapse .logo-min { display: block; }
#menu-header.navbar-fixed-top.top-nav-collapse .curve-image { display: none;}
#menu-header.navbar-default.navbar-fixed-top.top-nav-collapse  { background: rgba(240, 91, 113, 0.75) }
#menu-header .navbar-brand {
	padding: 0 !important;
	background: transparent	!important;
}
#menu-header.navbar-default.navbar-fixed-top {
	background: #F05B71;
	border-bottom: 0;
	height: 110px;
	margin-bottom: 0;
	border-radius: 0;
	border: 0;
}
#menu-header.navbar-default.navbar-fixed-top.top-nav-collapse {
	height: 100px;
}
#menu-header .btn {
	padding: 5px 10px;
	background: rgba(255,255,255.5);
	color: #f05b72;
	border: 1px solid #f05b72;
}
#menu-header .btn:hover, #menu-header .btn:focus, #menu-header .btn:active {
	background: #f05b72;
	color: #fff;
	border: 1px solid #fff;
}
/******** menu ******/
/********* product catelogue 2 ********/
.product-catelogue {
	/* width: 220px; */
	border: 4px solid #ccc;
	margin: 30px auto 5px;
}
.product-cateloguename {
	background: #F1F1F1;
	padding: 10px;
	height: 60px;
}
.product-catelogueimg {
	/*height: 220px;*/
	overflow: hidden;
	margin: auto;
}
.product-catelogueicon {
	right: 25px;
	top: 40px;
}
.product-catelogueprice .qty, .product-totqty  .qty {
	width: 25px;
	height: 40px;
	text-align: center;
	border: 1px solid rgba(204, 204, 204, 0);
	border-radius: 5px;
	box-shadow: inset 0 0 2px rgba(204, 204, 204, 0);
	background: transparent;
}
.product-catelogueprice #myform {
	text-align: right;
	padding: 5px;
}
.product-totqty #myform {
	text-align: left;
	padding: 5px;
}
.product-catelogueprice input.qtyplus, .product-totqty input.qtyplus {
	width:25px;
	height:25px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
.product-catelogueprice input.qtyminus, .product-totqty input.qtyminus {
	width:25px;
	height:25px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
.product-catelogueprice .d-table, .product-totqty .d-table {
	min-width: 175px;
	max-width: 200px;
	margin: auto;
}
.add-tocart, .add-tocart:hover, .add-tocart:focus, .add-tocart:active {
	width: 150px;
	background: #f05b72;
	border: 1px solid #f05b72;
	margin: 5px auto 10px;
	display: table;
	color: #fff;
	border-radius: 5x;
}
/********* product catelogue 2 ********/

/********* product catelogue 3 ********/
.modal {
	text-align: center;
	padding: 0!important;
}
.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
.modal-open, .modal{padding-right:0!important}
.modal-header .close {
	position: absolute;
	right: -1px;
	top: 0;
	background: #F50D0D;
	width: 40px;
	border-radius: 5px;
	height: 40px;
	color: #fff;
	opacity: 1;
	z-index: 999999;
}
.modal-header .back {
	position: absolute;
	left: 1px;
	top: 1px;
	background: #F50D0D;
	width: 40px;
	height: 27px;
	color: #fff;
	opacity: 1;
	width: 80px;
	border: 1px solid #F50D0D;
}
.modal-header {
	background: rgb(230, 230, 230);
	padding: 0;
	border-bottom: 0;
}
.product-listpopup {
	background-color: #FCFCFC;
	padding: 25px;
}
#productPopUp .modal-header .close {
	color: #444;
	background: transparent;
}
.product-listdesc { margin: 25px 0; }
.modal-dialog.modal-lg { width: 80%; }
.modal-body { background: transparent; padding: 0; }
.modal-content { background: rgba(255, 255, 255, 0.9); }
.modal-backdrop  { background: transparent; }
.modal.fade.in { background: rgba(0,0,0,.3); }
.product-listdetails { padding: 25px; }
#productPopUp .modal-body {
	background: transparent;
	padding: 0;
	height: 500px !important;
	overflow-x: hidden;
}

/********* product catelogue 3 ********/

/********* home *****/
.four-columns {
	background: #F05B71;
	margin: 25px 0;
	padding: 40px 0 60px;
}
.column-name {
	font-size: 24px;
	margin: 20px auto;
	font-family: initial;
}
.column-area {
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: inline-table;
	padding: 10px;
}
.delicious-items {
	border: 1px solid #ccc;
	box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	-moz-box-shadow: 0 0 2px #ccc;
	margin: 15px auto;
	padding: 5px;
}
/* .delicious-img { height: 200px; } */
.delicious-search {
	bottom: -16px;
	display: inline-block;
	left: 0;
	margin: auto;
	right: 0;
	text-align: center;
}
.delicious-search  .fa {
	width: 40px;
	height: 40px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	line-height: 36px;
	border: 2px solid #fff;
	color: #fff;
}
.delicious-search  .item1 .fa { background: #D07D55; }
.delicious-search  .item2 .fa { background: #91371D; }
.delicious-search  .item3 .fa { background: #F05B71; }
.delicious-search  .item4 .fa { background: #B3C14F; }
.delicious-search  .item5 .fa { background: #73533A; }
.delicious-search  .item6 .fa { background: #E5A92F; }
.delicious-name {
	padding: 15px 0;
}
/********* home *****/

/********* Cart Section *****/
.m-top60{
	margin-top: 60px;
}
/********* Cart Section *****/

/********* cart list items ******/

#cart-itemdisplay {
	margin-top: 40px;
}
#cart-itemdisplay th { background: #F05B71; }
#cart-itemdisplay .table>tbody>tr>td {
	vertical-align: middle;
	border-top: 0;
}
.width85 { width: 85px; }
.width100 { width: 100px; }
/* .item-listimage {
	margin: 5px auto;
	display: table;
	border-top: 0 !important;
} */
.item-listimage img {
	padding: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
	-moz-box-shadow: 0 0 3px #ccc;
	width: 80px;
	height: 80px;
}
.btn-theme {
	background: #F05B71;
	border: 1px solid #F05B71;
}
.btn-theme:hover, .btn-theme:focus, .btn-theme:active {
	background: #F05B71;
	border: 1px solid #F05B71;
	opacity: .9;
}
.coupon-input {
	width: 100%;
	height: 35px;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-left: 10px;
}
.cart-totalprice {
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.cart-totaltitle {
	background: #CCC;
	padding: 10px;
}
.cart-delivery {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}
.cart-totpay { padding: 10px; }
/********* cart list items ******/
.badge-notify{
	background: transparent;
	position:relative;
	top: -20px;
	left: -29px;
}

/*** popup default ****/
/*#selectlocation .modal-dialog { width: 250px; }*/
#selectlocation .modal-content {
	padding: 0;
	background: transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	border: 0;
}
#selectlocation.modal.fade.in { background: rgba(0,0,0,.7); }
/*** popup default ****/
/****** footer ******/
footer {
	background: #F05B71;
	padding: 10px;
	margin-top: 5px;
}
/****** footer ******/
/****** contact details ****/
.contact-detailsinner, .order-readyinner { border: 1px solid #ccc; }
.contact-details, .order-ready, .tabs-detailsinner, .loginmain { padding: 50px 0; }
.contact-title {
	background: #f05b72;
	padding: 10px;
	color: #fff;
}
#contact-details { margin: 15px auto; }
/****** contact details ****/
/****** order is ready *****/
.order-readyinner .table>tbody>tr:first-child>td,
#order_history .table>tbody>tr.border-tnone>td, #wallet .table>tbody>tr.border-tnone>td  { border-top: 0; }
.order-readyinner .table td { padding: 12px; }
/****** order is ready *****/
/****** all tabs content details *****/
#myTab2.nav-tabs { border-bottom: 0; }
#myTab2.nav-tabs>li>a {
	margin-right: 10px;
	border: 1px solid #ccc;
	box-shadow: 0 0 2px #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	-moz-box-shadow: 0 0 2px #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #444;
	cursor: pointer;
}
#myTab2.nav-tabs>li.active>a, #myTab2.nav-tabs>li.active>a:focus, #myTab2.nav-tabs>li.active>a:hover {
	background: #f05b72;
	color: #fff;
	border-color: #f05b72;
}
#myTabContent {	margin: 40px auto; }
#myTabContent .user-profile img{
	box-shadow: 4px 2px 5px rgba(204, 204, 204, 0.41);
	-webkit-box-shadow: 4px 2px 5px rgba(204, 204, 204, 0.41);
	-moz-box-shadow: 4px 2px 5px rgba(204, 204, 204, 0.41);
}
#myTabContent .user-name {
	font-family: cursive;
	font-size: 3em;
	padding-left: 20px;
}
.width-140 { width: 140px; }
.width-100 { width: 100px; }
.width-150 { width: 150px; }
.user-profileform {
	border: 1px solid #ccc;
	margin: 40px auto;
	padding-top: 20px;
}
.cremme-points {
	border: 1px solid #ccc;
	margin: 40px 40px 40px 350px;
	padding-top: 20px;
}

#order_history .table>tbody>tr> td { padding: 12px; }
.item-icons .fa {
	font-size: 5px;
	padding: 5px 2px;
}
.tabs-image {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
#myTab2 li .profile-image { background: url('../images/profile.png'); }
#myTab2 li.active .profile-image { background: url('../images/profile_hover.png'); }
#myTab2 li .orderhistory-image { background: url('../images/orderhistory.png'); }
#myTab2 li.active .orderhistory-image { background: url('../images/orderhistory_hover.png'); }
#myTab2 li .favourites-image { background: url('../images/favrourites.png'); }
#myTab2 li.active .favourites-image { background: url('../images/favrourites_hover.png'); }
#myTab2 li .coupans-image { background: url('../images/coupan.png'); }
#myTab2 li.active .coupans-image { background: url('../images/coupan_hover.png'); }
#myTab2 li .loyality-image { background: url('../images/loyality.png'); }
#myTab2 li.active .loyality-image { background: url('../images/loyality_hover.png'); }
#myTab2 li .wallet-image { background: url('../images/wallet.png'); }
#myTab2 li.active .wallet-image { background: url('../images/wallet_hover.png'); }
.table-line { border: 1px solid #ccc; }
.width40 { width: 40px; }
.table>tbody>tr>td {  vertical-align: middle; }
/****** all tabs content details *****/
/*  #menu-header { position: relative; }  */
body .responsive-slider .pages { bottom: 60px; }
.loginmain {
	/*background: url('../images/login_bg.jpg');*/
	background-size: cover;
	height: 440px;
}
.intro-section {
	height: 100%;
	padding-top: 50px;
	text-align: center;
	background: #fff;
}
/*** login ***/
#loginenter.nav-tabs { border-bottom: 0; }
#loginenter a:hover, #loginenter a:focus, #loginenter li.active a {
	color: #f05b72;
	text-decoration: none;
}
/* #loginenter li.active a {border-bottom: 4px solid #f05b72;} */
#loginenter li.active .login-btmborder {
	border-bottom: 5px solid #f05b72;
	width: 50px;
	margin: 15px auto;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
ul.social-links {
	display: inline-table;
	margin: 15px auto;
	padding: 0;
}
.social-links li {
	float: left;
	margin: 5px 10px;
}
.social-links .fa {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	color: #fff;
	background: transparent;
}
.social-links a:hover .fa.fa-facebook {
	background: rgba(59, 89, 152,.8);
	border: #3b5998;
}
.social-links a:hover .fa.fa-google-plus {
	background: rgba(0, 172, 237,.8);
	border: #00aced;
}
.social-links a:hover .fa.fa-twitter {
	background: rgba(221, 75, 57,.8);
	border: #dd4b39;
}
.loginmain .btn-danger {
	width: 150px;
	background-color: rgba(240, 91, 114, 1);
	background: -webkit-linear-gradient(top, rgba(240, 91, 114, 1) 0%, rgba(240, 91, 114, 1) 100%);
	background: linear-gradient(to bottom, rgba(240, 91, 114, 1) 0%, rgba(240, 91, 114, 1) 100%);
	box-shadow: inset 0 0 5px #f05b72;
	-webkit-box-shadow: inset 0 0 5px #f05b72;
	-moz-box-shadow: inset 0 0 5px #f05b72;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	text-shadow: -3px 0px 4px #444;
	-webkit-text-shadow: -3px 0px 4px #444;
	-moz-text-shadow: -3px 0px 4px #444;
}
/*** login ***/
/*** new styles ****/
#menu-header .nav>li>a:hover.cart-icon,#menu-header .nav>li>a:focus {
	background-color: transparent;
	opacity: .8;
}
#menu-header .nav>li { margin-top: 15px;  }
#menu-header .nav>li.dropdown { margin-top: 30px; }
#menu-header .dropdown a {
	background: rgba(255,255,255,.9);
	border: 1px solid rgba(255,255,255,.9);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	cursor: pointer;
}
#menu-header .dropdown a .fa { padding-right: 5px; }
/*** new styles ****/

/*** add Address ***/
.add-address .panel {
	width: 220px;
	margin: 10px auto;
}
.add-address .panel-body {
	height: 140px;
	background: #ccc;
	position: relative;
}
.add-address .add-newaddress, .address-area {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 200px;
	display: inline-table;
}
.add-address .panel-footer {
	padding: 0 15px;
	background: transparent;
	border-top: 0;
	border-radius: 0 !important;
}
.add-address1 .panel-body{ background: #ccc !important; }
.add-address1 .panel-heading { background: #969696 !important; }
.add-address1.active .panel-body{ background: #EF5C6F !important; }
.add-address1.active .panel-heading { background: #C03F53 !important; }
/*** add Address ***/
nav#menu-header.navbar-fixed-top,
nav#menu-header.navbar-fixed-top .curve-image {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	margin-bottom: 0;
}
nav#menu-header.navbar-fixed-top.top-nav-collapse,
nav#menu-header.navbar-fixed-top.top-nav-collapse  .curve-image {
	transition: all 1s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	margin-bottom: 0;
}
.animation-element.slide-left {
	-moz-transition: all 1000ms bounceup;
	-webkit-transition: all 1000ms linear;
	-o-transition: all 1000ms linear;
	transition: all 1000ms linear;
	-moz-transform: translate3d(-500px, 0px, 0px);
	-webkit-transform: translate3d(-500px, 0px, 0px);
	-o-transform: translate(-500px, 0px);
	-ms-transform: translate(-500px, 0px);
	transform: translate3d(-500px, 0px, 0px);
}
.animation-element.slide-left.in-view {
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.bounce-up .subject {
	opacity: 0;
	-moz-transition: all 1000ms ease-out;
	-webkit-transition: all 1000ms ease-out;
	-o-transition: all 1000ms ease-out;
	transition: all 1000ms ease-out;
	-moz-transform: translate3d(0px, 500px, 0px);
	-webkit-transform: translate3d(0px, 500px, 0px);
	-o-transform: translate(0px, 500px);
	-ms-transform: translate(0px, 500px);
	transform: translate3d(0px, 500px, 0px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.bounce-up.in-view .subject {
	opacity: 1;
	-moz-transform: translate3d(0px, 0px, 0px);
	-webkit-transform: translate3d(0px, 0px, 0px);
	-o-transform: translate(0px, 0px);
	-ms-transform: translate(0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
#wallet {
	border: 1px solid #ccc;
}
#wallet .wallet-options {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}
#wallet .wallet-options:hover {
	background: rgba(169, 168, 168, 0.23);
}
#wallet .wallet-options:hover a, #wallet .wallet-options a:hover { color: #f05b72; }
#wallet .wallet-options:last-child { border-bottom: 0; }
.width-auto {
	text-align: left;
	width: 200px;
}

/*** Ratings *****/
.rating{
	color: #a9a9a9;
	margin: 0;
	padding: 0;
}

ul.rating {
	display: inline-block;
}

.rating li {
	list-style-type: none;
	display: inline-block;
	padding: 1px;
	text-align: center;
	font-weight: bold;
	font-size: x-large;
	cursor: pointer;
}

.rating .filled {
	color: #d58512;
}
/*** Ratings *****/
/* style overrides for bootstrap/google map conflicts */
.gm-style img {max-width: none;}
.gm-style label {width: auto; display:inline;}
.pac-container {z-index:2000 !important;}


/* footer links */
.footer-links li {
	float: left;
	margin: 3px 0;
}
.social-icons li { float: left;}
.footer-links li a {
	font-size: 12px;
	padding: 0 10px;
	border-right: 1px solid #fff;
	color: #fff;
}
.footer-links li:last-child a { border-right: 0; }
.social-icons li a {
	color: #fff;
	margin: 0 5px;
}
.social-icons li .fa {
	width: 25px;
	height: 25px;
	border: 1px solid #fff;
	background: transparent;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 12px;
}
.social-icons li .fa:hover {
	box-shadow: 2px 1px 8px #fff;
	-webkit-box-shadow: 2px 1px 8px #fff;
	-moz-box-shadow: 2px 1px 8px #fff;
}
.footer-links a:hover {
	text-shadow: 2px 1px 8px #fff;
}
/* footer links */

/****** Filter CSS ******/
.full-width { width: 100%; }

/*.option-click {
	width: 40px;
	height: 40px;
	background-color: #0db9f0;
	color: #fff;
	padding-top: 10px;
	text-align: center;
}*/
.option-click:focus {
	background-color: #fff;
	color: #f05b72;
	border: 1px solid #f05b72;
}
.options-view td:hover label{ color: #f05b72; }
.default-popup input, .default-popup button {
	border: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.form-group.default-popup { position: relative; }
.form-group.default-popup input {
	padding-left: 30px;
	height: 47px;
	width: 100%;
}
.form-group.default-popup input:hover, .form-group.default-popup input:focus {
	border: 1px solid #ccc;
	box-shadow: inset 0 0 2px #ccc;
	-webkit-box-shadow: inset 0 0 2px #ccc;
	-moz-box-shadow: inset 0 0 2px #ccc;
}
.search-icon {
	position: absolute;
	top: 16px;
	left: 10px;
	z-index: 99;
}
.product-listdetails img.inner-img { border: 3px solid #ccc; }
.inner-productdetails {
	/*border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 15px 0;*/
	text-align: left;
}
.inner-productdetails .product-catelogueprice {
	/*background: rgba(204, 204, 204, 0.17);*/
	margin: 10px 0;
}
.inner-productdetails .add-tocart { width: 100% !important; }
#myTab.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
#myTab1.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: rgb(240, 91, 114);
	color: #fff;
}
.coupan-area {
	background: rgba(115, 106, 106, 0.15);
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-left: 10px;
	display: table;
}
.coupan-area1 {
	background: rgba(115, 106, 106, 0.15);
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-left: 10px;
	display: inline-table;
	width: 100%;
}
.alert-danger {
	margin-left: 10px;
}
.alert-success {
	margin-left: 10px;
}

.budget-options a {
	color: #444;
	margin-left: 10px;
	margin-bottom: 10px;
}

.budget-options li { margin-bottom: 15px; }

.budget-options li:hover, .budget-options li:hover a, .budget-options li:hover .fa { color: #f05b72; }

.budget-input {
	border: 1px solid #ccc;
	height: 35px;
	width: 75px;
	box-shadow: inset 0 0 2px #ccc;
	text-align: center;
	margin-left: 5px;
}

.m-review{
	margin-top: 20px;
	/*margin-left: 50px;*/
}

.wrap-review{
	word-wrap: break-word;
}

.checkbox_wrapper{
	position: relative;
	height: 32px;
	width: 100%;
}
.checkbox_wrapper label { padding-left: 35px; }
.checkbox_wrapper input[type="checkbox"] {
	opacity:0;
	height: 32px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.checkbox_wrapper input[type="checkbox"] + label{
	background-image: url('../images/flavour non selector_32.png');
	background-repeat: no-repeat;
	display:inline-block;
	padding: 0 0 0 0px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 32px;
	width: 100%;
	text-align: left;
}
body .p-input { padding: 5px 35px !important; }
.checkbox_wrapper input[type="checkbox"]:checked + label{
	background-image: url('../images/flavour selector_32.png');
	background-repeat: no-repeat;
	display:inline-block;
	padding: 0 0 0 0px;
	height: 32px;
	width: 100%;
}
#selectlocation .btn-default {
	background-image: none;
	background: #f05b72;
	color: #fff;
	border-color: #f05b72;
}
#selectlocation input {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#selectlocation button {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.btn-danger:active:focus, .btn-danger:active:hover,.btn-danger:focus {
	background: rgba(107, 5, 19, 0.63);
}