/*** select drop down area ****/
.cd-dropdown,
.cd-select {
	position: relative;
	width: 200px;
	margin: 30px 15px 10px;
	display: inline-table;
}
.cd-dropdown > span {
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #999;
	font-size: 14px;
	background: #fff;
	display: block;
	padding: 0 35px 0 15px;
	position: relative;
	cursor: pointer;
}
.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	top: 15%;
	width: 35px;
	text-align: center;
	font-size: 12px;
	padding: 10px;
	height: 70%;
	line-height: 8px;
	border-left: 1px solid #ddd;
}
.cd-dropdown.cd-active > span:after { content: '\25B2'; }
.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}
.cd-dropdown ul li { display: block; }
.cd-dropdown ul li span {
	width: 100%;
	background: #fff;
	line-height: 38px;
	padding: 0 30px 0 15px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}
.cd-dropdown > span,
.cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"]{
	padding: 0 30px 0 45px;
}
.cd-select { border: 1px solid #ddd; }
.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 100%;
}
.cd-dropdown > span {
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
	text-align: left;
}
.cd-dropdown ul li {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.cd-dropdown ul li span {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #ccc;
}
.cd-dropdown ul li {
	position: absolute;
	width: 100%;
	pointer-events: none;
}
.cd-active.cd-dropdown > span { color: #c29ad2; }
.cd-active.cd-dropdown ul li { pointer-events: auto; }
.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.cd-active.cd-dropdown ul li span:hover {
	background: #fff;
	color: #F05B71;
	border: 1px solid #F05B71;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/*** select drop down area ****/
/*** input type ****/
.float-label-control {
	position: relative;
	margin-bottom: 20px;
}
/* .float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; } */
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
	background-color: transparent !important;
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	-moz-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
}
.float-label-control input,
.float-label-control textarea,
.float-label-control label {
	font-size: 14px;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding-left: 15px;
}
.form-control:focus { border-color: #F05B72; }
.float-label-control input:focus,
.float-label-control textarea:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	border-bottom-width: 1px;
	padding-bottom: 0;
}
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea {
	display: block;
	width: 100%;
	padding-left: 15px;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #aaa;
	outline: none;
	margin: 0px;
	background: none;
}
.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
.float-label-control label {
	position: absolute;
	font-weight: normal;
	top: -1.0em;
	left: 0.08em;
	color: #aaaaaa;
	z-index: -1;
	font-size: 0.85em;
	-moz-animation: float-labels 300ms none ease-out;
	-webkit-animation: float-labels 300ms none ease-out;
	-o-animation: float-labels 300ms none ease-out;
	-ms-animation: float-labels 300ms none ease-out;
	-khtml-animation: float-labels 300ms none ease-out;
	animation: float-labels 300ms none ease-out;
	animation-play-state: running !important;
	-webkit-animation-play-state: running !important;
}
.float-label-control input.empty + label,
.float-label-control textarea.empty + label {
	top: 4px;
	font-size: 14px;
	animation: none;
	-webkit-animation: none;
}
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label { z-index: 1; }
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
.float-label-control.label-bottom label {
	-moz-animation: float-labels-bottom 300ms none ease-out;
	-webkit-animation: float-labels-bottom 300ms none ease-out;
	-o-animation: float-labels-bottom 300ms none ease-out;
	-ms-animation: float-labels-bottom 300ms none ease-out;
	-khtml-animation: float-labels-bottom 300ms none ease-out;
	animation: float-labels-bottom 300ms none ease-out;
}
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label {
	top: 3em;
	color: rgba(240, 91, 114, 0.6);
}
@keyframes float-labels {
	0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
	20% { font-size: 1.5em; opacity: 0; }
	30% { top: 0.1em; }
	50% { opacity: 0; font-size: 0.85em; }
	100% { top: -1em; opacity: 1; }
}
@-webkit-keyframes float-labels {
	0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
	20% { font-size: 1.5em; opacity: 0; }
	30% { top: 0.1em; }
	50% { opacity: 0; font-size: 0.85em; }
	100% { top: -1em; opacity: 1; }
}
@keyframes float-labels-bottom {
	0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
	20% { font-size: 1.5em; opacity: 0; }
	30% { top: 0.1em; }
	50% { opacity: 0; font-size: 0.85em; }
	100% { top: 3em; opacity: 1; }
}
@-webkit-keyframes float-labels-bottom {
	0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
	20% { font-size: 1.5em; opacity: 0; }
	30% { top: 0.1em; }
	50% { opacity: 0; font-size: 0.85em; }
	100% { top: 3em; opacity: 1; }
}
.loginmain .float-label-control input {
	border: 1px solid transparent;
	background: #fff;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
/*** input type ****/

/*** tabs ****/
.tabsdemoDynamicHeight md-content {	background-color: transparent !important; }
.tabsdemoDynamicHeight md-content md-tabs {
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
}
.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper { background: white; }
.tabsdemoDynamicHeight md-content h1:first-child { margin-top: 0; }
/* FANCY COLLAPSE PANEL STYLES */
.view-details .panel-default > .panel-heading { padding: 0; }
.view-details .panel-heading a {
	display: inline-block;
	width: 100%;
	background-color: transparent;
	color: #f05b72;
	position: relative;
	text-decoration: none;
	display: table-cell;
}
.view-details .panel-heading a:after {
	font-family: "FontAwesome";
	content: "\f077";
	position: absolute;
	right: -30px;
	font-size: 16px;
	font-weight: 400;
	top: 0;
	line-height: 1;
}
.view-details .panel-heading a.collapsed:after { content: "\f078"; }
.view-details .panel-default, .view-details .panel-default>.panel-heading, .view-details .panel-title {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	margin: 0;
}
.panel-collapse table { background-color: rgba(204, 204, 204, 0.49); }
#order_history ul>li:nth-child(even) table.list-ofItems{ background-color: rgba(204, 204, 204, 0.15); }
.arrow-icon .fa{
	position: absolute;
	top: -29px;
	color: rgba(204, 204, 204, 0.49);
	z-index: 99999;
	left: 15px;
}
/*** tabs ****/
/*** slider ****/
.jk-slider{
	width:100%;
}
/*          Hero Headers        */
/********************************/
.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 0 rgba(0,0,0,.75);
	-webkit-transform: translate3d(-50%,-50%,0);
	-moz-transform: translate3d(-50%,-50%,0);
	-ms-transform: translate3d(-50%,-50%,0);
	-o-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.hero h1 {
	font-size: 6em;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
	opacity: 0;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}
.fade-carousel .carousel-inner .item.active .hero {
	opacity: 1;
	-webkit-transition: 2s all ease-in-out .1s;
	-moz-transition: 2s all ease-in-out .1s;
	-ms-transition: 2s all ease-in-out .1s;
	-o-transition: 2s all ease-in-out .1s;
	transition: 2s all ease-in-out .1s;
}
/********************************/
/*            Overlay           */
/********************************/
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: #080d15;
	opacity: .7;
}
.fa.fa-chevron-left {
	position: absolute;
	top: 0%;
	bottom: 0;
	left: 10%;
	margin: auto;
	vertical-align: middle;
	display: inline-table;
}
.fa.fa-chevron-right {
	position: absolute;
	top: 0%;
	bottom: 0;
	right: 10%;
	margin: auto;
	vertical-align: middle;
	display: inline-table;
}
/*** slider ****/
