<!--
Author: W3layouts
Author URL: https://w3layouts.com/entrar-shadow-flat-form-template/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="adminLogin">
<head>
    <title>CremeVille</title>
    <meta charset="utf-8">
    <link href="css/login.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' type='text/css'>
    <link rel="prefetch" href="build/main.css"/>
    <link rel="prefetch" href="data.js"/>
    <link rel="prefetch" href="build/ng-admin.min.js"/>
    <link rel="prefetch" href="build/main.js"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>

<body>
<div ng-controller="adminloginController" ng-show="errorMessage">Wrong Usernmae And Password</div>
<div class="main">
    <div class="login-form">

        <h1 >CremeVille Admin Login</h1>
        <div class="head">
            <img src="images/logo.png" alt=""/>
        </div>
        <form ng-controller="adminloginController" ng-submit="adminLogin()">
            <input type="text" class="text" id="username" value="Username" ng-model="username" >
            <input type="password" value="Password" id="password" ng-model="password" >
            <div class="submit">
                <input type="submit" value="Log In" >
            </div>

        </form>
    </div>
    <!-- start-copyright -->

    <!-- end-copyright -->
</div>
<script type="application/x-javascript">
    var app = angular.module('adminLogin', []);


    app.controller('adminloginController', function($scope, $http,$window) {

        console.log("$scope.username"+$scope.username)
        $scope.adminLogin=function()
        {
            $scope.errorMessage=false;
            if($scope.username=='admin' && $scope.password=='admin@123') {
                console.log("$scope.username" + $scope.username);
                window.localStorage.setItem('posters_galore_login','admin');
                window.localStorage.getItem('posters_galore_login');
                console.log('data'+window.localStorage.getItem('posters_galore_login'));
                //console.log("vvv"+window.localStorage.setItem('posters_galore_login',$scope.username);
                $window.location.href = "./index.html";
            }
            else{
                console.log('sudheer'+$scope.errorMessage);
                $scope.errorMessage=true;
                console.log('sudheer'+$scope.errorMessage);
            }

        }

    });
    window.addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar(){
        window.scrollTo(0,1);
    }

    /*function login(e) {
     if (e) {
     e.prevenDefault();
     }
     window.localStorage.setItem('posters_galore_login', document.getElementById('username').value);
     window.location.href = "./index.html";
     return false;
     }*/
</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-46201426-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>
